<div class="container-fluid bg-primary py- mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Metodos de Integración</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Integración por Partes</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                <p> Integrar. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T1.JPG" /> </div>
                
                 <p>Cuando no se puede aplicar alguna de las fórmulas de integración (capitulo anterior), y si las expresiones se están multiplicando y no hay una relación directa entre ellas, se analiza si se puede resolver por el método de integración por partes.</p>
                <p>Debemos tomar en cuenta para poder utilizar este método lo siguiente:</p>

                <OL><LI><I>dx</I> siempre es una parte de <I>dv</I></LI>
                <LI>Debe de ser fácil integral <I>dv</I></LI>  
                <LI>Es preferible seleccionar la parte que parece más complicada de integrar, como parte de <I>dv</I>, siempre y cuando sea integrable.</LI></OL>
                <p><img src="assets/images/D2F1.png"></p>
                <p>Por medio de la siguiente tabla podemos facilitar el manejo de la fórmula de integración por partes:</p>
                <p><img src="assets/images/D2F98.png"></p>
                <p><img src="assets/images/D2F2.png"></p>
                <p>Cuando <img src="assets/images/D2F3.png"> se utiliza en una integración, la integral dada debe separarse en dos partes, una parte será u y la otra junto con dx, dv, (por esta razón se llama integración por partes).</p>
                <b>Nota1.</b>
                <OL>
                <LI>La parte seleccionada como dv, ha de ser fácil de integrar.</LI>
                <LI><img src="assets/images/D2F4.png">, no debe ser más complicado que 
                    <img src="assets/images/D2F3.png"></LI>
                </OL>


                <p>Resolver la siguiente integral por partes:</p>
                <p><img src="assets/images/D2F5.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im39');">Recuerda</a></p>
                <div id="im39" class="cp_oculta"> <img src="assets/images/D2F6.png " width="90%"></div>
                <p><img src="assets/images/D2F7.png " width="70%"></p>
                <p>1er pasó. Identificamos los valores de: u , dv, al valor de u lo derivamos obteniendo
                du=     y el valor de dv , lo integramos a modo de tener:</p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im40');">Recuerda</a></p>
                <div id="im40" class="cp_oculta"> <img src="assets/images/D2F8.png " width="90%"></div>
                <p><img src="assets/images/D2F9.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im41');">Recuerda</a></p>
                <div id="im41" class="cp_oculta"> <img src="assets/images/D2F10.png " width="90%"></div>
                <div id="im41" class="cp_oculta"> <img src="assets/images/D2F11.png " width="90%"></div>
                <p>Sustituimos en la fórmula:</p>
                <p><img src="assets/images/D2F12.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im42');">Recuerda</a></p>
                <div id="im42" class="cp_oculta"> <img src="assets/images/D2F13.png"></div>
                <p><img src="assets/images/D2F14.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im43');">Recuerda</a></p>
                <div id="im43" class="cp_oculta"> <img src="assets/images/D2F15.png " width="90%"></div>
                <p><img src="assets/images/D2F16.png"></p>
                <p>Resolvemos la integral:</p>
                <p><img src="assets/images/D2F17.png"></p>
                <p>Ocupamos la fórmula:</p>
                <p><img src="assets/images/D2F18.png"></p>
                <p>Estos valores los sustituimos en la fórmula:</p>
                <p><img src="assets/images/D2F19.png"></p>
                <p>A l integral le falta un "2" la a completamos y resolvemos.</p>
                <p><img src="assets/images/D2F20.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im44');">Recuerda</a></p>
                <div id="im44" class="cp_oculta"> <img src="assets/images/D2F21.png"></div>
                <p>Agregamos esta integral a la integral original y obtenemos el resultado:</p>
                <p><img src="assets/images/D2F22.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im45');">Recuerda</a></p>
                <div id="im45" class="cp_oculta"> <img src="assets/images/D2F23.png"></div>
                <p><img src="assets/images/D2F24.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im46');">Recuerda</a></p>
                <div id="im46" class="cp_oculta"> <img src="assets/images/D2F25.png " width="80%"></div>
                <p><img src="assets/images/D2F26.png"></p>
                <p>Ejemplo: Resolver la siguiente integral por partes:</p>
                <p><img src="assets/images/D2F27.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im47');">Recuerda</a></p>
                <div id="im47" class="cp_oculta"> <img src="assets/images/D2F28.png " width="90%"></div>
                <p><img src="assets/images/D2F29.png " width="90%"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im48');">Recuerda</a></p>
                <div id="im48" class="cp_oculta"><img src="assets/images/D2F30.png " width="90%"></div>
                <p>Sustituimos en la fórmula:</p>
                <p><img src="assets/images/D2F1.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im49');">Recuerda</a></p>
                <div id="im49" class="cp_oculta"> <img src="assets/images/D2F31.png " width="80%"></div>
                <p><img src="assets/images/D2F32.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im50');">Recuerda</a></p>
                <div id="im50" class="cp_oculta"> <img src="assets/images/D2F33.png " width="80%"></div>
                <p><img src="assets/images/D2F34.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im51');">Recuerda</a></p>
                <div id="im51" class="cp_oculta"> <img src="assets/images/D2F35.png"></div>
                <p><img src="assets/images/D2F36.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im52');">Recuerda</a></p>
                <div id="im52" class="cp_oculta"> <img src="assets/images/D2F37.png " width="80%"></div>
                <p><img src="assets/images/D2F38.png"></p>
                <p>Resolvemos la integral:</p>
                <p><img src="assets/images/D2F39.png"></p>
                <p>Ocupamos la fórmula:</p>
                <p><img src="assets/images/D2F40.png"></p>
                <p>Estos valores los sustituimos en la fórmula:</p>
                <p><img src="assets/images/D2F41.png"></p>
                <p>Agregamos esta integral a la integral original y obtenemos el resultado:</p>
                <p><img src="assets/images/D2F42.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im53');">Recuerda</a></p>
                <div id="im53" class="cp_oculta"> <img src="assets/images/D2F43.png " width="80%"></div>
                <p><img src="assets/images/D2F44.png"></p>
                <p>Resolver la siguiente integral por partes:</p>
                <p><img src="assets/images/D2F45.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im54');">Recuerda</a></p>
                <div id="im54" class="cp_oculta"> <img src="assets/images/D2F46.png " width="90%"></div>
                <p><img src="assets/images/D2F47.png " width="90%"></p>
                <p>Sustituimos en la fórmula:</p>
                <p><img src="assets/images/D2F48.png"></p>
                <p><img src="assets/images/D2F49.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im55');">Recuerda</a></p>
                <div id="im55" class="cp_oculta"> <img src="assets/images/D2F50.png"></div>
                <p><img src="assets/images/D2F51.png"></p>
                <p>Resolviendo por separado la integral: <img src="assets/images/D2F52.png"> para después agregarlo como resultado final.
                <p><img src="assets/images/D2F53.png"></p>
                <p>Es directa y queda:</p>
                <p><img src="assets/images/D2F54.png"></p>
                <p>La otra integral se resuelve de la siguiente forma:</p>
                <p><img src="assets/images/D2F55.png"></p>
                <p>Ocupamos la fórmula:</p>
                <p><img src="assets/images/D2F56.png"></p>
                <p>Se identifican los valores de: <img src="assets/images/D2F57.png"></p>
                <p><img src="assets/images/D2F58.png"></p>
                <p>Sacamos raíz a los valores <img src="assets/images/D2F57.png"></p>
                <p><img src="assets/images/D2F59.png"></p>
                <p>Diferenciamos el valor de <I>V</I></p>
                <p><img src="assets/images/D2F60.png"></p>
                <p>Sustituimos los valores en la formula correspondiente:</p>
                <p><img src="assets/images/D2F61.png"></p>
                <p>La integral está completa aplicamos la formula en forma directa,</p>
                <p><img src="assets/images/D2F62.png"></p>
                <p>Finalmente agregando todos los resultados la integral queda resuelta:</p>
                <p><img src="assets/images/D2F63.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im94');">Recuerda</a></p>
                <div id="im94" class="cp_oculta"> <img src="assets/images/D2F64.png " width="70%"></div>
                <div id="im94" class="cp_oculta"> <img src="assets/images/D2F65.png " width="80%"></div>
                <p><img src="assets/images/D2F66.png"></p>
                <p><img src="assets/images/D2F67.png " width="90%"></p>
                <p>Sustituimos en la fórmula:</p>
                <p><img src="assets/images/D2F48.png"></p>
                <p><img src="assets/images/D2F68.png"></p>
                <p>Se puede observar que la integral: <img src="assets/images/D2F69.png">  es nuevamente una integral por partes.</p>
                <p>Resolvemos la integral</p>
                <p><img src="assets/images/D2F69.png"></p>
                <p><img src="assets/images/D2F70.png"></p>
                <p>Sustituimos en la fórmula:</p>
                <p><img src="assets/images/D2F71.png"></p>
                <p>Resolvemos la integral:</p>
                <p><img src="assets/images/D2F72.png"></p>
                <p>Ocupamos la fórmula:</p>
                <p><img src="assets/images/D2F73.png"></p>
                <p>Sustituimos en la formula y vemos que la integral esta completa y resolvemos:</p>
                <p><img src="assets/images/D2F74.png"></p>
                <p>Ahora agregamos todos los resultados para tener resuelta la integral:</p>
                <p><img src="assets/images/D2F75.png"></p>
                <p>La siguiente integral es de este tipo</p>
                <p>Resolver la siguiente integral por partes:</p>
                <p><img src="assets/images/D2F76.png"></p>
                <p><img src="assets/images/D2F77.png " width="90%"></p>
                <p><img src="assets/images/D2F78.png"></p>
                <p>Esta integral: <img src="assets/images/D2F79.png">  es parecida a la original, difiere con la función <I> Senx</I>  y vemos que es otra integración por partes y hay que resolverla nuevamente una vez resuelta la agregamos a la integral original.</p>
                <p><img src="assets/images/D2F79.png"></p>
                <p><img src="assets/images/D2F80.png"></p>
                <p><img src="assets/images/D2F81.png"></p>
                <p>Este resultado se lo agregamos a la primera integral:</p>
                <p><img src="assets/images/D2F82.png"></p>
                <p>Como podemos observar la integral original se repite en el resultado y si seguimos integrando, estaremos llegando al mismo resultado lo que nos daría una integral periódica (no tiene fin).</p>
                <p>Cando se presentan estos caso solo hay que despejar la integral que se repite, esto es pasarla al primer miembro y resolver:</p>
                <p><img src="assets/images/D2F83.png"></p>
                <p>Despejamos el "2"</p>
                <p><img src="assets/images/D2F84.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im56');">Recuerda</a></p>
                <div id="im56" class="cp_oculta"> <img src="assets/images/D2F85.png " width="80%"></div>
                <p><img src="assets/images/D2F86.png"></p>
                <p>Otra integral de este tipo seria:</p>
                <p><img src="assets/images/D2F87.png"></p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im57');">Recuerda</a></p>
                <div id="im57" class="cp_oculta"> <img src="assets/images/D2F88.png " width="90%"></div>
                <p><img src="assets/images/D2F89.png"></p>
                <p>Realizamos la multiplicación:</p>
                <p><img src="assets/images/D2F90.png"></p>
                <p>Se regresa a la integral original, si integramos: <img src="assets/images/D2F91.png">, la integral se repetiría, lo cual nos lleva a una integral infinita., por lo que despejamos la integral <img src="assets/images/D2F92.png"></p>
                <p><img src="assets/images/D2F93.png"></p>
                <p>Resolvemos la integral:</p>
                <p><img src="assets/images/D2F94.png"></p>
                <p>Con la fórmula:</p>
                <p><img src="assets/images/D2F95.png"></p>
                <p>Sustituyendo estos valores en la fórmula, vemos que la integral está completa.</p>
                <p>Por lo que la integral queda resuelta como:</p>
                <p><img src="assets/images/D2F96.png"></p>
                <p>Despejamos el valor numérico de "2"</p>
                <p><img src="assets/images/D2F97.png"></p>
                <p align="right"> <a id="hover" href="actividad7.htm">Ejercicio 1 U2</a> </p>

                <app-modal nameButton="Ejercicio 2 U1" [content]="htmlOneAsString"></app-modal>
    </div>
</div>
</div>
</div>