<div class="container-fluid bg-primary py- mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Metodos de Integración</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Integración por Partes</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                <p> Integrar. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/T1.JPG" /> 
                </div>
                <p>Cuando no se puede aplicar alguna de las fórmulas de integración (capitulo anterior), y si las expresiones se están multiplicando y no hay una relación directa entre ellas, se analiza si se puede resolver por el método de integración por partes.</p>
                <p>Debemos tomar en cuenta para poder utilizar este método lo siguiente:</p>

                <OL><LI><I>dx</I> siempre es una parte de <I>dv</I></LI>
                <LI>Debe de ser fácil integral <I>dv</I></LI>  
                <LI>Es preferible seleccionar la parte que parece más complicada de integrar, como parte de <I>dv</I>, siempre y cuando sea integrable.</LI></OL>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F1.png"></div>
                <p>Por medio de la siguiente tabla podemos facilitar el manejo de la fórmula de integración por partes:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F98.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F2.png"></div>
                <p>Cuando </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F3.png"> </div>
                <p>
                se utiliza en una integración, la integral dada debe separarse en dos partes, 
                una parte será u y la otra junto con dx, dv, (por esta razón se llama integración por partes).</p>
                <b>Nota1.</b>
                <li>La parte seleccionada como dv, ha de ser fácil de integrar.</li>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F4.png"> </div>
                
                <p>, no debe ser más complicado que </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F3.png"></div>

                <p>Resolver la siguiente integral por partes:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F5.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F6.png"  width="380px" height="120px">
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F7.png">
                </div>
                <p>1er pasó. Identificamos los valores de: u , dv, al valor de u lo derivamos obteniendo
                du=     y el valor de dv , lo integramos a modo de tener:</p>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F8.png" width="380px" height="120px"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F9.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F10.png" width="380px" height="60px">
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F11.png" width="380px" height="80px">
                <p>Sustituimos en la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F12.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F13.png" width="280px" height="60px">
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F14.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F15.png" width="380px" height="120px">
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F16.png"></div>
                <p>Resolvemos la integral:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F17.png"></div>
                <p>Ocupamos la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F18.png"></div>
                <p>Estos valores los sustituimos en la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F19.png"></div>
                <p>A l integral le falta un "2" la a completamos y resolvemos.</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F20.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F21.png" width="280px" height="60px"></div>
                <p>Agregamos esta integral a la integral original y obtenemos el resultado:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F22.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F23.png" width="280px" height="60px"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F24.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F25.png" width="400px" height="130px">
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F26.png"></div>
                <p>Ejemplo: Resolver la siguiente integral por partes:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F27.png"  ></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F28.png" width="290px" height="80px"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F29.png " width="90%"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F30.png" width="350px" height="60px"></div>
                <p>Sustituimos en la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F1.png" width="150px" height="50px"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F31.png" width="350px" height="60px"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F32.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F33.png" width="330px" height="110px"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F34.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F35.png" width="350px" height="60px">
                </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F36.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F37.png" width="360px" height="120px">
                </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F38.png"></div>
                <p>Resolvemos la integral:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F39.png"></div>
                <p>Ocupamos la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F40.png"></div>
                <p>Estos valores los sustituimos en la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F41.png"></div>
                <p>Agregamos esta integral a la integral original y obtenemos el resultado:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F42.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F43.png" width="450px" height="130px">
                </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F44.png"></div>
                <p>Resolver la siguiente integral por partes:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F45.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F46.png"  width="450px" height="80px">
                </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F47.png " width="90%">
                </div>
                <p>Sustituimos en la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F48.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F49.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F50.png"  width="450px" height="100px">
                </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F51.png"></div>
                <p>Resolviendo por separado la integral: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F52.png"></div>
                para después agregarlo como resultado final.
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F53.png"></div>
                <p>Es directa y queda:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F54.png"></div>
                <p>La otra integral se resuelve de la siguiente forma:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F55.png"></div>
                <p>Ocupamos la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F56.png"></div>
                <p>Se identifican los valores de: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F57.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F58.png"></div>
                <p>Sacamos raíz a los valores </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F57.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F59.png"></div>
                <p>Diferenciamos el valor de <I>V</I></p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F60.png"></div>
                <p>Sustituimos los valores en la formula correspondiente:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F61.png"></div>
                <p>La integral está completa aplicamos la formula en forma directa,</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F62.png"></div>
                <p>Finalmente agregando todos los resultados la integral queda resuelta:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F63.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F64.png" width="450px" height="160px"></div>

                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F65.png" width="400px" height="80px"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F66.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F67.png"></div>
                <p>Sustituimos en la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F48.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F68.png"></div>
                <p>Se puede observar que la integral: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F69.png"></div>
                <p>  es nuevamente una integral por partes.
                Resolvemos la integral</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F69.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F70.png"></div>
                <p>Sustituimos en la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F71.png"></div>
                <p>Resolvemos la integral:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F72.png"></div>
                <p>Ocupamos la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F73.png"></div>
                <p>Sustituimos en la formula y vemos que la integral esta completa y resolvemos:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F74.png"></div>
                <p>Ahora agregamos todos los resultados para tener resuelta la integral:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F75.png"></div>
                <p>La siguiente integral es de este tipo</p>
                <p>Resolver la siguiente integral por partes:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F76.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F77.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F78.png"></div>
                <p>Esta integral: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F79.png"></div>
                <p>
                es parecida a la original, difiere con la función <I> Senx</I>  
                y vemos que es otra integración por partes y hay que resolverla nuevamente 
                una vez resuelta la agregamos a la integral original.</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F79.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F80.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F81.png"></div>
                <p>Este resultado se lo agregamos a la primera integral:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F82.png"></div>
                <p>Como podemos observar la integral original se repite en el resultado y si seguimos integrando, estaremos llegando al mismo resultado lo que nos daría una integral periódica (no tiene fin).</p>
                <p>Cando se presentan estos caso solo hay que despejar la integral que se repite, esto es pasarla al primer miembro y resolver:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F83.png"></div>
                <p>Despejamos el "2"</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F84.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F85.png" width="400px" height="130px">
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F86.png"></div>
                <p>Otra integral de este tipo seria:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F87.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F88.png" width="400px" height="80px">
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F89.png"></div>
                <p>Realizamos la multiplicación:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F90.png"></div>
                <p>Se regresa a la integral original, si integramos: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F91.png"></div>
                
                <p>, la integral se repetiría, lo cual nos lleva 
                a una integral infinita., por lo que despejamos la integral </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F92.png"></div>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F93.png"></div>
                <p>Resolvemos la integral:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F94.png"></div>
                <p>Con la fórmula:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F95.png"></div>
                <p>Sustituyendo estos valores en la fórmula, vemos que la integral está completa.</p>
                <p>Por lo que la integral queda resuelta como:</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F96.png"></div>
                <p>Despejamos el valor numérico de "2"</p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D2F97.png"></div>


                <app-modal nameButton="Ejercicio 1 U2" [content]="htmlOneAsString"></app-modal>
    </div>
</div>
</div>
</div>