<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Integral Definida</h1>
               
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Area Entre Curvas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
           

<p>Con escasas modificaciones podemos extender la aplicación de la integral definida para cubrir no sólo el área de la región bajo una curva, sino el de una región comprendida entre dos curvas. Por tanto, obtenemos el siguiente resultado:
</p>

<p><b>
Área entre dos curvas.<br>
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE1.PNG"></div>  


<p>
Para calcular el área entre dos curvas ocupamos la fórmula:
</p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE2.PNG"></div>  


<p>
Restáramos el área de "arriba" menos el área de "abajo"
Para resolver estos ejercicios se debe realizar las gráficas, para determinar el área a calcular.

</p>

<p>
En este tipo de ejercicios nos pueden dar:<br><br>

1. &nbsp;&nbsp; Dos funciones y los limites.<br><br>
2. &nbsp;&nbsp; Dos funciones y calculamos los límites.
</p>

<!--******************************-->

<p> <b> Ejemplo 1: </b> </p>

<p>
Hallar el área de la región limita por las funciones: <i>y = x<sup>2</sup> + 2</i>, &nbsp; & &nbsp;<i>y = -x</i>&nbsp; y las líneas verticales <i>x = 0</i>&nbsp; y &nbsp; <i>x = 2</i>&nbsp; sobre el eje de las "x".
</p>

<p> <b> 1.	Tabulamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE4.PNG"></div> 


<p> <b> 2.	Graficamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE5.PNG"></div> 


<p>
Como se nota las dos funciones no se intersectan, pero ya nos dan los límites que son: las líneas verticales <i>x = 0</i>&nbsp; y &nbsp; <i>x = 2</i>&nbsp; sobre el eje de las "x".

<br><br>

El área de arriba es: <i>y = x<sup>2</sup> + 2</i>&nbsp; el área de abajo es: <i>y = -x</i>
</p>

<p> <b> 3.	Aplicando la fórmula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE7.PNG"></div> 


<p> <b> 4.	Resolvemos la integral: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE8.PNG"></div> 


<!--******************************-->

<p> <b> Ejemplo 2: </b> </p>

<p>
Calcular el área limitada por las funciones: <i>y = 2x<sup>2</sup> - 12x + 5</i> &nbsp; & &nbsp;<i>y = 2x - 7</i>&nbsp; sobre el eje de las "x".
</p>

<p> <b> 1.	Tabulamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE10.PNG"></div> 


<p> <b> 2.	Graficamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE11.PNG"></div> 


<p>
Como se observa en la figura, la función de arriba es: <i>y = 2x - 7</i>&nbsp; y la función de abajo es: <i>y = 2x<sup>2</sup> - 12x + 5</i> &nbsp;.

<br><br>

 También en la gráfica observamos que los puntos donde se cortan las dos funciones es en:
 <br><br>
 
 <i><b>x = 1</b></i>&nbsp;&nbsp;&nbsp; y &nbsp;&nbsp; <i><b>x = 6</b></i>
 
 <br><br>
 
También los límites se pueden calcular algebraicamente.<br><br>
Igualamos las dos funciones, después igualamos a cero y resolvemos la ecuación.
</p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE14.PNG"></div> 


<br>

<p>
Dividimos entre 2 toda la ecuación, para facilitar su solución:
</p>

<br>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE15.PNG"></div> 


<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE16.PNG"></div> 


<br>

<p><b>
Despejenado:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE17.PNG" width="150"> 


<p><b>
Aplicando la fórmula:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE18.PNG"></div> 


<p><b>
Resolvemos la integral:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE19.PNG"></div> 


<!--******************************-->

<p> <b> Ejemplo 3: </b> </p>

<p>
Calcular el área limitada por las funciones: <i>y = 2 - x<sup>2</sup></i> &nbsp; & &nbsp;<i>y = x</i>&nbsp; sobre el eje de las "x".
</p>

<p> <b> 1.	Tabulamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE21.PNG"></div> 


<p> <b> 2.	Graficamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE22.PNG"></div> 


<p><b>
3.   Los puntos donde se intersectan las rectas son:
</b></p>

<i><b>x = -2</b></i>&nbsp;&nbsp;&nbsp; y &nbsp;&nbsp; <i><b>x = 1</b></i>

<br>

<p><b>
4.  Algebraicamente:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE24.PNG"></div> 


<p><b>
5.  Aplicando la fórmula:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE25.PNG"></div> 


<p><b>
6.  Resolvemos la integral:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE26.PNG"></div> 

<!--******************************-->

<p> <b> Ejemplo 4: </b> </p>

<p>
Calcular el área limitada por las funciones: <i>y = - x<sup>2</sup> + 4x + 2</i> &nbsp; & &nbsp;<i>y = x + 2</i>&nbsp; sobre el eje de las "x".
</p>

<p> <b> 1.	Tabulamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE28.PNG"></div> 


<p> <b> 2.	Graficamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE29.PNG"></div> 



<p><b>
3.   Los puntos donde se intersectan las rectas son:
</b></p>

<i><b>x = 0</b></i>&nbsp;&nbsp;&nbsp; y &nbsp;&nbsp; <i><b>x = 3</b></i>

<br>

<p><b>
4.  Algebraicamente:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE31.PNG"></div> 


<p><b>
5. Tenemos una ecuación de segundo grado incompleta y la resolvemos con la fórmula:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE32.PNG"></div> 


<p><b>
6. Sustituyendo en la fórmula:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE33.PNG"></div> 


<p><b>
7. Aplicando la fórmula:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE34.PNG"></div> 


<p><b>
8. El área de arriba es la curva y el área de abajo es la recta:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE35.PNG"></div> 


<p><b>
9. Resolvemos la integral:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE36.PNG"></div> 


<p><b>
10. Resolvemos la integral:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE37.PNG"></div> 


<!--******************************-->

<p> <b> Ejemplo 5: </b> </p>

<p>
Calcular el área limitada por las funciones: <i>y = x<sup>3</sup> - 12x + 10</i> &nbsp; & &nbsp;<i>y = -3x + 10</i>&nbsp; sobre el eje de las "x".
</p>

<p> <b> 1.	Tabulamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE39.PNG"></div> 


<p> <b> 2.	Graficamos las dos funciones: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE40.PNG"></div> 


<p><b>
3.   Los puntos donde se intersectan las rectas son:
</b></p>


<i><b>x = 0</b></i>&nbsp;&nbsp;;&nbsp;&nbsp;<i><b>x = -3</b></i>&nbsp;&nbsp; y &nbsp;&nbsp; <i><b>x = 3</b></i>


<br>

<p><b>
4.  Algebraicamente:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE42.PNG"></div> 


<p><b>
5.  Factorizamos:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE43.PNG"></div> 


<p><b>
6.  Igualando a cero cada termino:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE44.PNG"></div> 


<p><b>
7.  Despejando:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE45.PNG"></div> 


<p><b>
8.  Se calculan dos áreas:<br><br>

<u>área 1</u>

<br><br>

El área de "arriba" es la curva y el área de "abajo" es la recta
Y los límites son:

<br><br>

<i><b>x = -3</b></i>&nbsp;&nbsp;&nbsp; y &nbsp;&nbsp; <i><b>x = 0</b></i>

</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE47.PNG"></div> 

<p><b>
Resolvemos la integral:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE48.PNG"></div> 


<p>
Ahora calculamos la otra área:

<br><br>

<u>área 2</u>

<br><br>

El área de "arriba" es la curva y el área de "abajo" es la recta
Y los límites son:

<br><br>

<i><b>x = 0</b></i>&nbsp;&nbsp;&nbsp; y &nbsp;&nbsp; <i><b>x = 3</b></i>
</p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE50.PNG"></div> 


<p><b>
Resolvemos la integral:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE51.PNG"></div>

<p><b>
Ya calculando las dos áreas las sumamos para obtener el área final:
</b></p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AE52.PNG"></div>
	


    <app-modal nameButton="Ejercicio 3 U3" [content]="htmlOneAsString"></app-modal>
</div>
</div>
</div>
</div>