<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Constante Integración</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Exponenciales y Logaritmicas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">

                <p> Ahora ocuparemos las formulas: 4,5 y 6. </p>
                <p> Aquí veremos cuando la integral "no está completa". </p>
                <p> <b> Integrar: </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E1.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im15');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E2.JPG"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E3.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im16');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E4.JPG"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E5.JPG"> </div>
                <p> Resolviendo: (aquí se pueden combinar fórmula anteriormente visto, esto es, las fórmulas 1,2, 3 y 4, con las nuevas fórmulas): </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E6.JPG"> </div>
                <p> Resolviendo cada una de las integrales: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E7.JPG"> </div>
                <p> Sustituyendo en la fórmula:  </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E8.JPG"> </div>
                <p> Sustituyendo en la fórmula:  </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E9.JPG"> </div>
                <p> Acomodando cada una de las integrales ya resueltas: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E10.JPG"> </div>
                <p> <b> Integrar: </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E11.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im17');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E12.JPG"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E13.JPG"> </div>
                <p> Resolvemos aplicando la formula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E14.JPG"> </div>
                <p> Sustituyendo en la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E15.JPG"> </div>
                <p> La integral está completa, resolvemos en forma directa: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E16.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im18');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E17.JPG"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E18.JPG"> </div>
                <p> <b> Integrar: </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E19.JPG"> </div>
                <p> Se realiza la división algebraica: </p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im19');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E20.JPG" width="90%"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E21.JPG"> </div>
                <p> Por lo que la integral queda: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E22.JPG"> </div>
                <p> Resolviendo la integral, aplicando las formulas respectivas: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E23.JPG"> </div>
                <p> Resolviendo cada integral por separado: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E24.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im20');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E25.JPG"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E26.JPG"> </div>
                <p> Aplicamos la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E27.JPG"> </div>
                <p> Sustituyendo en la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E28.JPG"> </div>
                <p> La integral está completa, aplicamos la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E29.JPG"> </div>
                <p> Por lo que la integral queda como: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E30.JPG"> </div>
                <p> <b> Integrar: </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E31.JPG"> </div>
                <p> Convertir la función a una expresión más fácil para poderla integrar. </p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im21');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E32.JPG"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E33.JPG"> </div>
                <p> Integramos aplicando la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E34.JPG"> </div>
                <p> Sustituyendo en la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E35.JPG"> </div>
                <p> A la integral le falta un 2/3 </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E36.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im22');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E37.JPG"></div>
                <p> <b> Integrar. </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E38.JPG"> </div>
                <p> Recuerda. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E39.JPG"> </div>
                <p> Sustituimos en la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E40.JPG"> </div>
                <p> La integral está completa por lo que resulta: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E41.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im23');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E42.JPG"></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E43.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im24');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/E44.JPG"></div>
                <p align="right"> <a id="hover" href="actividad 4.htm">Ejercicio 4 U1</a> </p>

                <app-modal nameButton="Ejercicio 2 U1" [content]="htmlOneAsString"></app-modal>
            </div>
        </div>
    </div>
</div>