<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Metodos de Integración</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Por PotenciasTrigonometricas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                <p> Integrar. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T1.JPG" /> </div>



















<p>Para este tema debemos tener muy en cuenta las identidades trigonométricas además de las derivadas de funciones trigonométricas.</p>
<p><img src="assets/images/D3F1.png" width="90%"></p>
<p><img src="assets/images/D3F2.png"></p>
<p><img src="assets/images/D3F3.png"></p>
<p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=5 FACE="Century Gothic"> CASO 1 </FONT></SPAN></p>
<BR>
<p>Cuando "n" y "m" son pares en seno y coseno.</p>
<p>Ejemplo 1: Resolver la siguiente integral.</p>
<p><img src="assets/images/D3F4.png"></p>
<p>Cuando ambas funciones son pares se utilizan las identidades siguientes:</p>
<p><img src="assets/images/D3F5.png"></p>
<p>Sustituyendo en la integral:</p>
<p><img src="assets/images/D3F6.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im58');">Recuerda</a></p>
         <div id="im58" class="cp_oculta"> <img src="assets/images/D3F7.png" width="90%"></div>
<p><img src="assets/images/D3F8.png"></p>
<p>Ahora resolvemos con la integral:</p>
<p><img src="assets/images/D3F9.png"></p>
<p>Resolviendo cada integral.</p>
<p>En esta fórmula: <img src="assets/images/D3F10.png"> el ángulo se duplica.</p>
<p><img src="assets/images/D3F11.png"></p>
<p>La integral: </p>
<p><img src="assets/images/D3F12.png"></p>
<p>Se resuelve con la fórmula: </p>
<p><img src="assets/images/D3F13.png"></p>
<p>Sustituimos en la fórmula:</p>
<p><img src="assets/images/D3F14.png"></p>
<p>La integral no está completa, por lo que hay que completarla y se resuelve</p>
<p><img src="assets/images/D3F15.png"></p>
<p>Ya juntando todos los resultados de las integrales que resolvimos por separado, la integral queda:</p>
<p><img src="assets/images/D3F16.png"></p>
<p>Resolviendo la fracción:</p>
<p><img src="assets/images/D3F17.png"></p>
<p>Finalmente:</p>
<p><img src="assets/images/D3F18.png"></p>
<p>Resolver la siguiente integral:</p>
<p><img src="assets/images/D3F18.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im59');">Recuerda</a></p>
     <div id="im59" class="cp_oculta"> <img src="assets/images/D3F19.png" width="80%"></div>
<p><img src="assets/images/D3F20.png"></p>
<p>Utilizamos la identidad: <img src="assets/images/D3F21.png"></p>
<p><img src="assets/images/D3F22.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im60');">Recuerda</a></p>
     <div id="im60" class="cp_oculta"> <img src="assets/images/D3F23.png"></div>
<p><img src="assets/images/D3F24.png"></p>
<p>La integral queda de la siguiente forma:</p>
<p><img src="assets/images/D3F25.png"></p>
<p>Resolviendo:</p>
<p><img src="assets/images/D3F26.png"></p>
<p>Resolviendo las dos primeras integrales, ya que más fáciles de resolver.</p>
<p><img src="assets/images/D3F27.png"></p>
<p>Ahora la integral</p>
<p><img src="assets/images/D3F28.png"></p>
<p>Ocupamos la fórmula:</p>
<p><img src="assets/images/D3F29.png"></p>
<p>Sustituimos en la fórmula de la integral:</p>
<p><img src="assets/images/D3F30.png"></p>
<p>A la integral le falta un "2" a completamos la integral y resolvemos:</p>
<p><img src="assets/images/D3F31.png"></p>
<p>Ahora resolvemos la integral:</p>
<p><img src="assets/images/D3F32.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im61');">Recuerda</a></p>
     <div id="im61" class="cp_oculta"> <img src="assets/images/D3F33.png"></div>
<p><img src="assets/images/D3F34.png"></p>
<p>Resolviendo cada integral:</p>
<p><img src="assets/images/D3F35.png"></p>
<p>Ocupamos la fórmula:</p>
<p><img src="assets/images/D3F36.png"></p>
<p>Sustituimos en la fórmula de la integral:</p>
<p><img src="assets/images/D3F37.png"></p>
<p>A la integral le falta un "2" a completamos la integral y resolvemos:</p>
<p><img src="assets/images/D3F38.png"></p>
<p>Finalmente agregamos todos los resultados y la integral queda resuelta de la siguiente forma:</p>
<p><img src="assets/images/D3F39.png"></p>

<p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=5 FACE="Century Gothic"> CASO 2 </FONT></SPAN></p>
<br>
<p>Cuando "n" es impar en función Seno y Coseno.</p>
<p>En este método o procedimiento se requiere siempre tener ya sea Seno o Coseno a la potencia 1 y la otra función se descompondrá en una potencia par. Para de ahí sustituir por las identidades:</p>
<p><img src="assets/images/D3F40.png"></p>
<p>Resolver la siguiente integral:</p>
<p><img src="assets/images/D3F41.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im62');">Recuerda</a></p>
     <div id="im62" class="cp_oculta"> <img src="assets/images/D3F42.png" width="80%"></div>
<p><img src="assets/images/D3F43.png"></p>
<p>Sustituimos:<img src="assets/images/D3F44.png"></p>
<p><img src="assets/images/D3F20.png"></p>  
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im63');">Recuerda</a></p>
     <div id="im63" class="cp_oculta"> <img src="assets/images/D3F46.png"></div>
<p><img src="assets/images/D3F47.png"></p>
<p>Sustituyendo:</p>
<p><img src="assets/images/D3F48.png"></p>
<p>Realizando la multiplicación:</p>
<p><img src="assets/images/D3F49.png"></p>
<p>En este tipo de método:<FONT COLOR="RED"> Cuando "n" es impar en función Seno y Coseno.
Generalmente se ocupan las fórmulas:</FONT></p>
<p><img src="assets/images/D3F50.png"></p>
<p>Resolvemos cada integral por separado y después las agregamos.</p>
<p><img src="assets/images/D3F51.png"></p>
<p>Sustituyendo en la fórmula:</p>
<p><img src="assets/images/D3F52.png"></p>
<p>Integral completa: resolvemos:</p>
<p><img src="assets/images/D3F53.png"></p>
<p>Ocupamos la fórmula:</p>
<p><img src="assets/images/D3F54.png"></p>
<p>Sustituimos en la fórmula:</p>
<p><img src="assets/images/D3F55.png"></p>
<p>La integral no está completa, falta el signo (-) resolvemos.</p>
<p><img src="assets/images/D3F56.png"></p>
<p>Integramos la otra función:</p>
<p><img src="assets/images/D3F57.png"></p>
<p>Ocupamos la fórmula:</p>
<p><img src="assets/images/D3F58.png"></p>
<p>Sustituimos en la fórmula:</p>
<p><img src="assets/images/D3F59.png"></p>
<p>La integral no está completa, falta el signo (-) resolvemos.</p>
<p><img src="assets/images/D3F60.png"></p>
<p><FONT COLOR="RED">Sustituimos:</FONT></p>
<p><img src="assets/images/D3F61.png"></p>
<p>Por lo tanto, la integral queda resuelta:</p>
<p><img src="assets/images/D3F62.png"></p>

<p>CASO3</p>
<p>Cuando "n" y "m" son impares y pares, respectivamente, en funciones trigonométricas de:</p>
<p><img src="assets/images/D3F63.png"></p>
<p>La potencia par hay que descomponerla a modo de tener siempre una potencia al cuadrado.</p>
<p><img src="assets/images/D3F64.png"></p>
<p>En este caso ocuparemos:</p>
<p><img src="assets/images/D3F65.png"></p>
<p>Y las fórmulas de derivadas:</p>
<p><img src="assets/images/D3F66.png" width="90%"></p>            
<p>Resolver la siguiente integral:</p>
<p><img src="assets/images/D3F67.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im64');">Recuerda</a></p>
     <div id="im64" class="cp_oculta"> <img src="assets/images/D3F68.png" width="90%"></div>
<p>Descomponemos:</p>
<p><img src="assets/images/D3F69.png"></p>
<p>Realizamos la multiplicación:</p>
<p><img src="assets/images/D3F70.png"></p>
<p>En ambas integrales utilizamos la fórmula de integración.</p>
<p><img src="assets/images/D3F71.png"></p>
<p>En ambos casos </p>
<p><img src="assets/images/D3F72.png"></p>
<p>Sustituyendo los valores en la fórmula:</p>
<p><img src="assets/images/D3F73.png"></p>
<p>En ambos caso su sustitución queda como:</p>
<p><img src="assets/images/D3F74.png"></p>
<p>En ambas integrales falta un "3", a completamos la integral y resolvemos:</p>
<p><img src="assets/images/D3F75.png" width="70%"></p>
<p>Otro resultado es factorizando, que es lo recomendable:</p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im65');">Recuerda</a></p>
     <div id="im65" class="cp_oculta"> <img src="assets/images/D3F76.png" width="90%"></div>
<p><img src="assets/images/D3F77.png"></p>
<p>Resolver la siguiente integral:</p>
<p><img src="assets/images/D3F78.png"></p>
<p>Ocupamos la identidad:</p> 
<p><img src="assets/images/D3F79.png"></p>
<p>Realizando la multiplicación, se tiene:</p>
<p><img src="assets/images/D3F80.png"></p>
<p>Resolvemos las integrales</p>
<p>Ocupando respectivamente las fórmulas:</p>
<p><img src="assets/images/D3F81.png"></p>
<p>Sustituyendo estos valores en la formula correspondiente:</p>
<p><img src="assets/images/D3F82.png"></p>
<p>En ambas integrales falta un "2" a completamos las integrales y resolvemos:</p>
<p><img src="assets/images/D3F83.png"></p>                 
<p>Factorizando se tiene:</p>
<p><img src="assets/images/D3F84.png"></p>
<p>Resolver la siguiente integral:</p>
<p><img src="assets/images/D3F85.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im66');">Recuerda</a></p>
     <div id="im66" class="cp_oculta"> <img src="assets/images/D3F86.png" width="90%"></div>
<p><img src="assets/images/D3F87.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im67');">Recuerda</a></p>
     <div id="im67" class="cp_oculta"> <img src="assets/images/D3F88.png"></div>
<p><img src="assets/images/D3F89.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im68');">Recuerda</a></p>
     <div id="im68" class="cp_oculta"> <img src="assets/images/D3F90.png" width="90%"></div>
<p><img src="assets/images/D3F91.png"></p>
<p>Descomponemos a modo de que quede una función elevada al cuadrado</p>
<p><img src="assets/images/D3F92.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im69');">Recuerda</a></p>
     <div id="im69" class="cp_oculta"> <img src="assets/images/D3F93.png"></div>
<p><img src="assets/images/D3F94.png"></p>
<p>Multiplicando los términos de la integral.</p>
<p><img src="assets/images/D3F95.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im70');">Recuerda</a></p>
     <div id="im70" class="cp_oculta"> <img src="assets/images/D3F96.png"></div>
<p>La función:<img src="assets/images/D3F97.png">, la convertimos nuevamente a una potencia al cuadrado, para facilitar su resolución</p>
<p><img src="assets/images/D3F98.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im71');">Recuerda</a></p>
     <div id="im71" class="cp_oculta"> <img src="assets/images/D3F93.png"></div>
<p><img src="assets/images/D3F99.png"></p>
<p>Nuevamente realizando la multiplicación:</p>
<p><img src="assets/images/D3F100.png"></p>
<p align="center"><a id="hover" href="javascript:MostrarOcultar('im72');">Recuerda</a></p>
     <div id="im72" class="cp_oculta"> <img src="assets/images/D3F93.png"></div>
<p><img src="assets/images/D3F101.png"></p>
<p><img src="assets/images/D3F102.png"></p>
<p>Para resolver las integrales ocupamos las fórmulas:<img src="assets/images/D3F103.png"><img src="assets/images/D3F104.png">, respectivamente.</p>
<p><img src="assets/images/D3F105.png"></p>
<p>Sustituyendo en las integrales.</p>
<p><img src="assets/images/D3F106.png"></p>                              
<p>Están completas por lo tanto resolvemos las integrales:</p>
<p><img src="assets/images/D3F107.png"></p>
<p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=5 FACE="Century Gothic"> CASO 4 </FONT></SPAN></p>
<p>Resolver la siguiente integral.</p>
<p><img src="assets/images/D3F108.png"></p>
<p>Observa que los ángulos son diferentes, entonces se ocupa la fórmula:</p>
<p><img src="assets/images/D3F109.png"></p>
<p>Ocupamos para las dos integrales la fórmula:</p>
<p><img src="assets/images/D3F110.png"></p>
<p>Sustituimos estos valores en las integrales</p>
<p><img src="assets/images/D3F111.png"></p>
<p>A completamos las integrales a la primera le falta un 3 y a la segunda un 7 y resolvemos.</p>
<p><img src="assets/images/D3F112.png"></p>
<p>Por lo que el resultado es:</p>
<p><img src="assets/images/D3F113.png"></p>
<p>Resolver la integral:</p>
<p><img src="assets/images/D3F114.png"></p>
<p>Ocupamos para las dos integrales la fórmula:</p>
<p><img src="assets/images/D3F115.png"></p>
<p>Sustituimos estos valores en las integrales</p>
<p><img src="assets/images/D3F116.png"></p>
<p>A completamos las integrales a la primera le falta un <SUP>1</SUP>/<SUB>3</SUB> y a la segunda está completa,  resolvemos.</p>
<p><img src="assets/images/D3F117.png"></p>
</div>
</div>        
    </div>
</div>