<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Metodos de Integración</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Por PotenciasTrigonometricas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                <p> Integrar. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T1.JPG" /> </div>

                    <p>Para este tema debemos tener muy en cuenta las identidades trigonométricas además de las derivadas de funciones trigonométricas.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F1.png" width="480px" height="160px"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F2.png"  width="480px" height="780px"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F3.png"  width="360px" height="210px"></div>
                    <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=5 FACE="Century Gothic"> CASO 1 </FONT></SPAN></p>
                    <BR>
                    <p>Cuando "n" y "m" son pares en seno y coseno.</p>
                    <p>Ejemplo 1: Resolver la siguiente integral.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F4.png"></div>
                    <p>Cuando ambas funciones son pares se utilizan las identidades siguientes:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F5.png"></div>
                    <p>Sustituyendo en la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F6.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/D3F7.png" width="420px" height="130px"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F8.png"></div>
                    <p>Ahora resolvemos con la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F9.png"></div>
                    <p>Resolviendo cada integral.</p>
                    <p>En esta fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F10.png"></div> 
                    <p>el ángulo se duplica.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F11.png"></div>
                    <p>La integral: </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F12.png"></div>
                    <p>Se resuelve con la fórmula: </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F13.png"></div>
                    <p>Sustituimos en la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F14.png"></div>
                    <p>La integral no está completa, por lo que hay que completarla y se resuelve</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F15.png"></div>
                    <p>Ya juntando todos los resultados de las integrales que resolvimos por separado, la integral queda:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F16.png"></div>
                    <p>Resolviendo la fracción:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F17.png"></div>
                    <p>Finalmente:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F18.png"></div>
                    <p>Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F18.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F19.png" width="80%"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F20.png"></div>
                    <p>Utilizamos la identidad:</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F21.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F22.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F23.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F24.png"></div>
                    <p>La integral queda de la siguiente forma:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F25.png"></div>
                    <p>Resolviendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F26.png"></div>
                    <p>Resolviendo las dos primeras integrales, ya que más fáciles de resolver.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F27.png"></div>
                    <p>Ahora la integral</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F28.png"></div>
                    <p>Ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F29.png"></div>
                    <p>Sustituimos en la fórmula de la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F30.png"></div>
                    <p>A la integral le falta un "2" a completamos la integral y resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F31.png"></div>
                    <p>Ahora resolvemos la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F32.png"></div>
                    <p align="center">Recuerda</p>





                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> 
                    <img src="assets/images/D3F33.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F34.png"></div>
                    <p>Resolviendo cada integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F35.png"></div>
                    <p>Ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F36.png"></div>
                    <p>Sustituimos en la fórmula de la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F37.png"></div>
                    <p>A la integral le falta un "2" a completamos la integral y resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F38.png"></div>
                    <p>Finalmente agregamos todos los resultados y la integral queda resuelta de la 
                        siguiente forma:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F39.png"></div>

                    <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=5 FACE="Century Gothic"> CASO 2 </FONT></SPAN></p>
                    <br>
                    <p>Cuando "n" es impar en función Seno y Coseno.</p>
                    <p>En este método o procedimiento se requiere siempre tener ya sea 
                        Seno o Coseno a la potencia 1 y la otra función se descompondrá en una potencia par. 
                        Para de ahí sustituir por las identidades:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F40.png"></div>
                    <p>Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F41.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> 
                    <img src="assets/images/D3F42.png" width="80%"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F43.png"></div>
                    <p>Sustituimos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> 
                    <img src="assets/images/D3F44.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F20.png"></div>  
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/D3F46.png" style="width: 280px; height:160px">
                    </div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F47.png"></div>
                    <p>Sustituyendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F48.png"></div>
                    <p>Realizando la multiplicación:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F49.png"></div>
                    <p>En este tipo de método:<FONT COLOR="RED"> Cuando "n" es impar en función Seno y Coseno.
                    Generalmente se ocupan las fórmulas:</FONT></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F50.png"></div>
                    <p>Resolvemos cada integral por separado y después las agregamos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F51.png"></div>
                    <p>Sustituyendo en la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F52.png"></div>
                    <p>Integral completa: resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F53.png"></div>
                    <p>Ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F54.png"></div>
                    <p>Sustituimos en la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F55.png"></div>
                    <p>La integral no está completa, falta el signo (-) resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F56.png"></div>
                    <p>Integramos la otra función:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F57.png"></div>
                    <p>Ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F58.png"></div>
                    <p>Sustituimos en la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F59.png"></div>
                    <p>La integral no está completa, falta el signo (-) resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F60.png"></div>
                    <p><FONT COLOR="RED">Sustituimos:</FONT></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F61.png"></div>
                    <p>Por lo tanto, la integral queda resuelta:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F62.png"></div>

                    <p>CASO3</p>
                    <p>Cuando "n" y "m" son impares y pares, respectivamente, en funciones trigonométricas de:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F63.png"></div>
                    <p>La potencia par hay que descomponerla a modo de tener siempre una potencia al cuadrado.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F64.png"></div>
                    <p>En este caso ocuparemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F65.png"></div>
                    <p>Y las fórmulas de derivadas:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F66.png" ></div>            
                    <p>Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F67.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/D3F68.png"style="width: 420px; height:250px"></div>
                    <p>Descomponemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F69.png"></div>
                    <p>Realizamos la multiplicación:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F70.png"></div>
                    <p>En ambas integrales utilizamos la fórmula de integración.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F71.png"></div>
                    <p>En ambos casos </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F72.png"></div>
                    <p>Sustituyendo los valores en la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F73.png"></div>
                    <p>En ambos caso su sustitución queda como:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F74.png"></div>
                    <p>En ambas integrales falta un "3", a completamos la integral y resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F75.png" ></div>
                    <p>Otro resultado es factorizando, que es lo recomendable:</p>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/D3F76.png" style="width: 380px; height:130px"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F77.png"></div>
                    <p>Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F78.png"></div>
                    <p>Ocupamos la identidad:</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F79.png"></div>
                    <p>Realizando la multiplicación, se tiene:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F80.png"></div>
                    <p>Resolvemos las integrales</p>
                    <p>Ocupando respectivamente las fórmulas:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F81.png"></div>
                    <p>Sustituyendo estos valores en la formula correspondiente:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F82.png"></div>
                    <p>En ambas integrales falta un "2" a completamos las integrales y resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F83.png"></div>                 
                    <p>Factorizando se tiene:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F84.png"></div>
                    <p>Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F85.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F86.png" style="width: 360px; height:110px" ></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F87.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/D3F88.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F89.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F90.png" style="width: 400px; height:180px" ></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F91.png"></div>
                    <p>Descomponemos a modo de que quede una función elevada al cuadrado</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F92.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F93.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F94.png"></div>
                    <p>Multiplicando los términos de la integral.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F95.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/D3F96.png"></div>
                    <p>La función:<img src="assets/images/D3F97.png">, la convertimos nuevamente a una potencia al cuadrado, para facilitar su resolución</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F98.png"></div>
                    <p align="center">Recuerda</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F93.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F99.png"></div>
                    <p>Nuevamente realizando la multiplicación:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F100.png"></div>
                    <p align="center">Recuerda></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F93.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F101.png"></div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F102.png"></div>
                    <p>Para resolver las integrales ocupamos las fórmulas:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> 
                    <img src="assets/images/D3F103.png"><img src="assets/images/D3F104.png">
                    </div>
                    <p>, respectivamente.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F105.png"></div>
                    <p>Sustituyendo en las integrales.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F106.png"></div>                              
                    <p>Están completas por lo tanto resolvemos las integrales:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F107.png"></div>
                    <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=5 FACE="Century Gothic"> CASO 4 </FONT></SPAN></p>
                    <p>Resolver la siguiente integral.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F108.png"></div>
                    <p>Observa que los ángulos son diferentes, entonces se ocupa la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F109.png"></div>
                    <p>Ocupamos para las dos integrales la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F110.png"></div>
                    <p>Sustituimos estos valores en las integrales</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F111.png"></div>
                    <p>A completamos las integrales a la primera le falta un 3 y a la segunda un 7 y resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F112.png"></div>
                    <p>Por lo que el resultado es:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F113.png"></div>
                    <p>Resolver la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F114.png"></div>
                    <p>Ocupamos para las dos integrales la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F115.png"></div>
                    <p>Sustituimos estos valores en las integrales</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F116.png"></div>
                    <p>A completamos las integrales a la primera le falta un <SUP>1</SUP>/<SUB>3</SUB> y a la segunda está completa,  resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                    <img src="assets/images/D3F117.png"></div>
</div>
</div>