<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Integral Definida</h1>
               
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Volumenes de Revolución</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">

<p>Cuando giramos la región de área que está debajo de una función alrededor del eje x O algún 
    otro eje determinado, lo que estamos obteniendo es un sólido. El volumen de este solido también se obtiene con la integral.</p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V1.PNG"></div>

<p>
Esto porque siempre vamos a girar una superficie y tendremos siempre como elementos de sección pequeños cilindros de área <!--Simbolo PI-->
<i>&pi;r<sup>2</sup></i>
</p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V2.PNG"></div>

<p>
Para calcular el volumen, es el mismo procedimiento del cálculo de áreas, solo que ahora la función se eleva al cuadrado. 
Y se tiene que hacer la gráfica y además hacer una figura tomando en cuenta el giro de la función.
</p>

<p>
Hay que realizar la gráfica y tener una mente abierta, para poder determinar cuando gira la función sobre el eje de las x o de 
las x como se vería la figura.
</p>

<p> <b> Ejemplo 1: </b> </p>

<p>
Calcular el volumen del solido de la función: <i>y=&radic;sen x</i>, que gira sobre el eje de las x, en los intervalos  
<i>x=0<font face='symbol'>&#176;</font></i> &nbsp; a &nbsp; <i>x=&pi;</i>.
</p>

<p> <b> 1.	Tabulamos la función: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V3.PNG"></div>

<p> <b> 2.  Graficamos: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V4.PNG"></div>

<p> <b> 3.  Aplicando fórmula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V5.PNG"></div>

<p> <b> 4.  Resolviendo la integral: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V6.PNG"></div>

<p> <b> 5.  Ocupamos la fórmula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V7.PNG"></div>

<p> <b> 6.  Sustituimos en la formula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V8.PNG"></div>

<p> <b> 7.  La integral está completa, resolvemos: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V9.PNG"></div>

<p> <b> 8.  Sustituyendo límites: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V10.PNG"></div>

<!--******************************-->

<p> <b> Ejemplo 2: </b> </p>

<p>
Calcular el volumen del solido de la función: <i>y = 4 - x<sup>2</sup></i>, que gira sobre el eje de las x.
</p>

<p> <b> 1.	Tabulamos la función: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V11.PNG"></div>

<p> <b> 2.  Graficamos: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V12.PNG"></div>

<p> <b> 3.  Con la gráfica vemos que los  intervalos son: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V13.PNG"></div>

<p> <b> 4.  Algebraicamente: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V14.PNG"></div>

<p> <b> 5.  Sustituyendo en la fórmula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V15.PNG"></div>

<p> <b> 6.  Sustituyendo en la fórmula de volumen: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V16.PNG"></div>

<!--RECUERDAAAAAAAAAAAAAAAAAAAA-->
<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V16.2.PNG"></div>
<!--RECUERDAAAAAAAAAAAAAAAAAAAA-->
<br>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V17.PNG"></div>

<p> <b> 7.  Resolvemos la integral: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V18.PNG"></div>
<br>

<!--******************************-->

<p> <b> Ejemplo 3: </b> </p>

<p>
Encontrar el volumen del solido en revolución obtenido al hacer girar la región limitada por la función <i>y = x<sup>2</sup></i>, alrededor del eje y con las líneas horizontales <i>y = 0</i>&nbsp; & &nbsp;<i>y = 9</i>.
</p>

<p> <b> 1.	Tabulamos la función: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V19.PNG"></div>

<p> <b> 2.  Graficamos: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V20.PNG"></div>

<p> <b> 3.  Sustituyendo en la fórmula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V21.PNG"></div>

<p> <b> 4.  Sustituyendo en la fórmula de volumen: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V22.PNG"></div>
<br>

<p> <b> 5.  Resolvemos la integral: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V24.PNG"></div>

<!--******************************-->

<p> <b> Ejemplo 4: </b> </p>

<p>
Se hace girar la región  R, encerrada por las curvas <i>y = x</i> &nbsp; & &nbsp; <i>y = x<sup>2</sup></i>, en torno, al eje de las x encontrar el volumen el sólido resultante.
</p>

<p> <b> 1.	Tabulamos la función: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V25.PNG"></div>

<p> <b> 2.  Graficamos: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V26.PNG"></div>

<p> <b> 3.  Se ve que donde se cortan las rectas es en: <i>x = 0</i> &nbsp; y &nbsp; <i>x = 1</i>,<br>  &nbsp; Algebraicamente: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V27.PNG"></div>

<p> <b> 4.  Tenemos una ecuación de segundo grado incompleta y la resolvemos con la fórmula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V28.PNG"></div>

<p> <b> 5.  Sustituyendo en la fórmula: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V29.PNG" >

<br>

<p> <b> 6.  Sustituyendo en la fórmula de volumen, (La recta va arriba y la curva abajo): </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V30.PNG" >

<p> <b> 7.  Resolvemos la integral: </b> </p>

<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/V31.PNG" >


</div>
</div>
</div>
</div>