<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="text-center col-lg-12 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="section-title bg-white text-center text-primary pe-3">Objetivo del libro </h1>
                <h3 class="mb-4"></h3>
                <p> 
                Con la creación de este poli-libro pretendemos lograr cumplir
                con tres objetivas principalmente:
                </p>
            
                <p align="left">
                1) Que el alumno pueda tener un acercamineto al cálculo integral de una manera más amena e interactiva que en los libros de texto tradicionales.
                </p>
                
                <p align="left">
                2) Facilitar el trabajo del profesor teniendo una herramienta extra en su clase.
                </p>
                
                <p align="left">
                3) Corresponder al Instituto Politecnico Nacional por todo lo que hemos recibido de esta gran institución.
                </p>
            </div>
        </div>
    </div>
</div>