<div id="principal"> 
    <h1> <b> BIBLIOGRAFÍA </b> </h1>
<ul>
<li> <p align="left"> Pérez Navejas Jesús David, <i> Problemas resueltos de Cálculo Integral</i>, Grupo Editorial Éxodo. </p></li>
<li> <p align="left">Granville / Smith / Longley, <i> Cálculo Diferencial e Integral</i>, Grupo Editorial Uteha.</p></li>
<li> <p align="left">Ayres Frank jr / Elliot Mendelson, <i> Cálculo Diferencial e Integral</i>, Editorial Mc Graw-Hill.</p></li>
<li> <p align="left">Edwing J. Purcell / Dale Varberg, <i> Cálculo Diferenciale Integral </i>, Editorial Prentice Hall.</p></li>
<li> <p align="left">Flores Meyer / Fautsch T. Eugenio, <i> Cálculo Básico </i>, Editorial Progreso.</p></li>
<li> <p align="left">Larson / Hostetler, <i> Cálculo </i>, Editorial Mc Graw Hill.</p></li>
<li> <p align="left">James Stewart, <i> Cálculo </i>, Editorial Thomson.</p></li>
<li> <p align="left">Zill Dennis G., <i> Cálculo con Geometría Analítica </i>, Grupo Editorial Iberoamérica.</p></li>
</ul>
</div>