<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Constante Integración</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Con cambio de variable</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">

                <p> Este método consiste en transformar la integral dada en otra más sencilla mediante un cambio de la variable independiente. El cambio de variable consiste en definir una función y obtener su diferencia. </p>
                <p align="center">Recuerda</p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC1.JPG"></div>
                <p> <b> Integrar: </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC2.JPG"></div>
                <p> Como hasta el momento no tenemos una formula con radical, nos auxiliaremos de un artificio matemático el  radical lo convertimos a exponente fraccionario. </p>
                <p align="center">Recuerda</p>
                         <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC3.JPG"></div>  
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC4.JPG">   </div>
                <p> La fórmula a ocupar es: </p> <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC5.JPG"></div>
                <p align="center">Recuerda</p>
                      <div id="im27" class="cp_oculta">  <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC6.JPG"></div>  
                <p> Para esta fórmula identificamos los valores de "v" y de "n", el valor de 3x^2, por el momento no lo tomamos en cuenta, solo consideramos los valores de la formula, en este caso "v" y "n". </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC7.JPG"></div>   
                <p> Y siempre el valor de "v" lo vamos a diferenciar, como se muestra a continuación: </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC8.JPG">   </div>
                <p> Ya con los valores de  "v", "n" y  dv , los sustituimos en la formula a ocupar en este caso: </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC9.JPG"> </div>  
                <p> Esta integral "nueva" la comparamos con la original: </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC10.JPG"> </div>  
                <p> Y vemos que a la integral original "le falta" -12, con respecto a la integral donde sustituimos los valores de: "v", "n" y  dv, entonces para "a completar" la integral o que las integrales se "parezcan" sacamos el -12 con operación contraria, como se muestra a continuación: </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC11.JPG">  </div> 
                <p> De esta manera se dice que la integral "está completa" y aplicamos lo que sigue después del igual de la fórmula: </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC12.JPG">  </div> 
                <p> Teniendo en cuenta que -1/12 multiplica a la integral, también multiplica a todo lo que sigue del igual, como se muestra a continuación </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC13.JPG">   </div>
                <p align="center">Recuerda</p>
                      <div id="im28" class="cp_oculta">  <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC14.JPG"></div>  
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC15.JPG"> </div>  
                <p> PARA TODAS LAS FORMULAS DE LA 5 A LA 24 ES EL MISMO PROCEDIMIENTO: </p>
                <p> <b> 1. </b>  Identificar la fórmula </p>
                <p> <b> 2. </b>  Sacar los valores según la formula, que será v, n, a^2,v^2,  a, v  </p>
                <p> <b> 3. </b>  Siempre diferenciar el valor de v </p>
                <p> <b> 4. </b>  Sustituir en la formula correspondiente </p>
                <p> <b> 5. </b>  Comparar si son iguales (se aplica la formula en forma directa) y si no es igual (a completar la integral, siempre con operación contraria) </p>
                <p> <b> 6. </b>  Resolver. </p>
                <br>
                <p> <b> Integrar: </b> </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC16.JPG"></div>    
                <p> Utilizamos el siguiente procedimiento anterior mencionado para las formulas: 5 a la 24 y en los métodos de integración. </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC17.JPG">  </div> 
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im29');">Recuerda</a></p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC18.JPG"></div>  
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC19.JPG">   </div>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC20.JPG"></div>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC21.JPG">   </div>
                <p> Le falta un "2", por lo tanto la a completamos, sacando el "2" con operación contraria. Si multiplica, pasa dividiendo con todo y el signo que tiene. </p>
                   <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/IC22.JPG">  </div> 
                
                <br>
                <app-modal nameButton="Ejercicio 5 U1" [content]="htmlOneAsString"></app-modal>
    </div>
</div>
