<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>PoliLibro</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            
            <a routerLink="bienvenida" class="nav-item nav-link active">Inicio</a>
            <a routerLink="agradecimientos" class="nav-item nav-link">Agradecimientos</a>
            <!-- <a href="courses.html" class="nav-item nav-link">Courses</a> -->
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Acerca De</a>
                <div class="dropdown-menu fade-down m-0">
                    <a routerLink="objetivo" class="dropdown-item">Objetivo</a>
                    <a routerLink="usoDidactico" class="dropdown-item">Uso Didactico</a>
                    <a routerLink="bibliografia" class="dropdown-item">Bibliografia</a>
                    <a routerLink="glosario" class="dropdown-item">Glosario</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Unidades</a>
                <div class="dropdown-menu fade-down m-0">
                    <a class="nav-link active" href="#" disabled>Unidad-1 Integral Indefinida</a>
                    <a routerLink="diferencialfuncion" class="dropdown-item">La diferencial de una Función</a>
                    <a routerLink="algebraicas" class="dropdown-item">Algebraicas</a>
                    <a routerLink="constanteIntegracion" class="dropdown-item">Constante de Integración</a>
                    <a routerLink="expLogaritmicas" class="dropdown-item">Exponenciales Logaritmicas</a>
                    <a routerLink="cambioVariable" class="dropdown-item">Con Cambio de Variable</a>
                    <a routerLink="trigonometricasInversas" class="dropdown-item">Trigonometricas e Inversas</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link active" href="#" disabled>Unidad-2 Metodos de Integración</a>
                    <a routerLink="integracionxPartes" class="dropdown-item">Integración por Partes</a>
                    <a routerLink="potenciasTrigonometricas" class="dropdown-item">Por Potencias Trigonometricas</a>
                    <a routerLink="sustitucionTrigonometricas" class="dropdown-item">Por Sustitución Trigonometricas</a>
                    <a routerLink="fraccionesParciales" class="dropdown-item">Por Fracciones Parciales</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link active" href="#" disabled>Unidad-3 Integral Definida</a>
                    <a routerLink="integralDefinida" class="dropdown-item">Integral Definida</a>
                    <a routerLink="areaBajoLaCurva" class="dropdown-item">Área Bajo de la Curva</a>
                    <a routerLink="areaEntreCurvas" class="dropdown-item">Área Entre Curvas</a>
                    <a routerLink="volumeneDeRevolucion" class="dropdown-item">Volumenes de Revolución</a>
                </div>
            </div>
            <a routerLink="/pages/creditos" class="nav-item nav-link">Contacto</a>
            <a routerLink="bibliografia" class="nav-item nav-link">Bibliografia</a>
        </div>
       <!--  <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a> -->
    </div>
</nav>