<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Integral Definida</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Algebraicas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">

                <p> En cálculo integral se estudian dos tipos de integrales indefinida y definida, 
                    es fácil identificar cada una, ya que la integral indefinida no tiene límites y la definida sí, 
                    es decir:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A1.JPG" >  
                </div>
                <br>
                <p> Empezaremos con la integral indefinida, ya que es necesario integrar una expresión y posteriormente si es definida trabajar con ella en el intervalo dado. </p>
                <br>
                <p align="center"> <b> Integral indefinida </b> </p>  
                <br>
                <p> Las expresiones integrales indefinidas y función primitiva son sinónimos de la palabra antiderivada. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                <img src="assets/images/A2.JPG" >   
                </div> 
                <br>
                <p> La integral indefinida es una familia de funciones dependiente de un parámetro cuyas gráficas se obtienen por traslación de una primitiva o es el conjunto de las infinitas primitivas que puede tener una función. Pero, ¿Qué es la primitiva de una función? </p>
                <p> Con la siguiente tabla veremos fácilmente lo que es la primitiva de una función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A3.JPG">    
                </div>
                <br>
                <p> Si observamos la tabla, las funciones no son las mismas, pero su diferencial e integral si, y es a lo que llamamos familia de funciones y tienen una misma función base y es a lo que llamamos primitiva, ya que es una misma curva. </p>
                <p> Aprovechando la tabla también podemos ver en forma más clara y sencilla la constante de integración. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                <img src="assets/images/A4.JPG" >    
                </div>
                <br>
                <p> Como te puedes dar cuenta, los resultados de las 3 funciones tanto al derivar como al integrar son el mismo, ¿A qué se debe esto?, ¿Qué pasó con los valores -2 y +8? Es importante aclarar que dentro del cálculo diferencial estos valores tienen un valor de 0, al contrario del cálculo integral, donde son de gran importancia si se quieren obtener las funciones originales a partir de las funciones que ya han sido derivadas. </p>
                <p> Si observamos de la tabla la función original y la expresión ya integrada vemos, que es la misma integral para cada función, solo que no se puede saber si la función dada se le estaba sumando, o restando una constante, o de hecho si solo era 5x como se observa en la primera función, y es el motivo por el cual se tiene que agregar sumando una constante, que al no conocer su valor simplemente se coloca una letra "c" sumando. </p>
                <p> Y si observamos esa constante puede ser cero, como en la función uno, o un -2 como en la función 2, 0 un +8 como en la función 3, y como ya sabemos al derivar cualquier función constante, obtendremos como resultado cero. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                <img src="assets/images/A5.JPG" >    
                </div>
                <br>
                <p> Entonces, si queremos conocer el valor de esa constante de integración, necesitamos tener valores de la integral en un determinado punto, para calcular la constante que satisfaga la expresión y concuerde con su lugar geométrico.  </p>
                <p> Como vimos anteriormente la integración es el proceso recíproco de la derivación; por eso, la lectura de la tabla de derivadas de derecha a izquierda nos proporciona las primitivas de las funciones elementales tanto en la forma simple como en la forma compuesta. Estas primitivas que se obtienen directamente de la tabla de derivadas se llaman inmediatas, y el conjunto de ellas, integrales inmediatas. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                <img src="assets/images/A6.JPG" >    
                </div>
                <br>
                <p> Al obtener la derivada y diferencial de una función el procedimiento fue multiplicar el coeficiente por la potencia y restarle uno a la potencia, para integrar vamos  a hacerlo al revés (como si fuéramos de reversa) le sumo uno a la potencia y la divido entre el coeficiente. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                <img src="assets/images/A7.JPG" >    
                </div>
                    <br> 
                        <p> <b> Ejemplo. </b> </p>
                        <p> Encontrar la antiderivada o integral  de la función f'(x)=2x , en el intervalo (-?,+?) </p>
                        <p> Debemos de buscar una función  F que satisfaga la igualdad  f'(x)=2x , para todo x real. </p>
                            <p> Por experiencia sabemos que la función original F(x)=x<sup>2</sup>,  pero puede tener más variantes.  </p>
                        <p> Por ejemplo: </p>
                            <p>F(x)=x<sup>2</sup>+2 </p>
                            <p>F(x)=x<sup>2</sup>-1 </p>
                            <p>F(x)=x<sup>2</sup>+4 </p>
                            <p>De hecho F(x)=x<sup>2</sup>+c </p>
                        <p> Donde "c" es cualquier constante, es una antiderivada de f'(x)=2x en  (-?,+?)  , como lo podemos ver en la siguiente figura: </p>
                          <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A8.JPG">    
                        </div>
                    <br>
                        <p> Con lo anterior la pregunta sería, ¿Es toda antiderivada de f'(x)=2x   de la forma  F(x)=x<sup>2</sup>+c ?   </p>
                        <p> La respuesta es cierta, se dice que dos o más funciones que tengan la misma derivada, deben de ser diferentes en una constante. </p>
                        <p> Con lo anterior se deduce: Si una función f  tiene una antiderivada, tendrá una familia completa de ellas y cada miembro de ésta se puede obtener de otro  de ellos mediante la adición de la constante adecuada. Se llamara a esta familia de funciones  la antiderivada general de   f . </p>
                        <p> Por lo que decimos que para integral se tendrán muchas constantes de integración. Ahora podemos calcular el valor de la constante de integración. </p>
                        <p> <b> Formulario de integración </b> </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A9.JPG" >  
                        </div>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A10.JPG">  
                        </div>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A11.JPG" >  
                        </div>
                            <br>
                        <p> <b> Integrar las siguientes expresiones </b> </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A12.JPG">  
                        </div>
                        <p align="center">Recuerda</p>
                        <div id="im1" class="cp_oculta"> 
                            <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A13.JPG" >
                            </div>    
                        </div>
                        <p>   Desarrollamos el binomio al cuadrado:   </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A14.JPG">  
                        </div>
                        <p>   La integral queda como:   </p>
                         
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A15.JPG">
                        </div>
                        <p>   Resolviendo aplicando las primeras fórmulas: 1, 2, 3 y 4.   </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A16.JPG">  
                        </div>   
                        <p align="center">Recuerda</p>
                        <div id="im2" class="cp_oculta"> <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A17.JPG">
                        </div>  
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A18.JPG">  
                        </div>
                        <p align="center">Recuerda</p>
                        <div id="im3" class="cp_oculta"> 
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                        <img src="assets/images/A19.JPG"> 
                        </div></div>    
                        <p> Este ejercicio se puede realizar de dos formas: una dividiendo cada término del numerador entre el denominador y la otra subiendo el término del denominador, para multiplicar por el denominador. Aquí ya es como se les haga más fácil. </p>
                        <p align="center">Recuerda</p>
                          <div id="im4" class="cp_oculta"> 
                              <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                                <img src="assets/images/A20.JPG" > </div>  
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A21.JPG"></div>
                        <p align="center">Recuerda</p>
                          <div id="im5" class="cp_oculta"> <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A22.JPG" > </div>  
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A23.JPG"></div>
                        <p>   Resolviendo aplicando las primeras fórmulas: 1, 2, 3 y 4.   </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A24.JPG"></div>
                        <p align="center">Recuerda</p>
                          <div id="im6" class="cp_oculta"> <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A25.JPG" > </div> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A26.JPG"></div>
                        <p>   También se puede resolver subiendo el término para poder realizar la multiplicación.   </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A27.JPG" ></div>
                        <p>   Resolviendo aplicando las primeras fórmulas: 1, 2, 3 y 4.   </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A28.JPG"></div>
                    <br>
                    <br>
                        <p> <b> Integrar: </b> </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A29.JPG"></div>
                        <p align="center"><a id="hover" href="javascript:MostrarOcultar('im7');">Recuerda</a></p>
                        <div id="im7" class="cp_oculta"> 
                            <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A30.JPG" >
                            </div>
                        </div>  
                        <p>   Siempre trabaja con exponentes fraccionarios y el denominador subirlo con exponente con signo contrario.    </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                            <img src="assets/images/A31.JPG"></div>
                        <p>   La transformamos en una equivalente más fácil de resolver:   </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                        <img src="assets/images/A32.JPG"></div>
                        <p align="center">Recuerda</p>
                          <div id="im8" class="cp_oculta"> <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A33.JPG" > </div>  </div>
                    <br>
                    <br>
                        <p> <b> Integrar: </b> </p> 
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A34.JPG"></div>
                        <p>   Resolviendo aplicando las primeras fórmulas: 1, 2, 3 y 4.   </p>
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A35.JPG"></div>
                        <p align="center">Recuerda</p>
                    <div id="im9" class="cp_oculta"> <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A36.JPG" ></div></div>  

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img src="assets/images/A37.JPG"></div>

                        <p align="center">Recuerda</p>
                            <div id="im10" class="cp_oculta"> 
                                  <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                                    <img src="assets/images/A38.JPG" >
                                </div>
                            </div>  


                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                        <img src="assets/images/A39.JPG">
                        </div>
                        <p align="center">Recuerda</p>
                            <div id="im11" class="cp_oculta"> 
                            <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                                <img src="assets/images/A40.JPG" >
                            </div>
                            </div>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                        <img src="assets/images/A41.JPG">
                    </div> 
                        <p>   Obteniendo su diferencial, tenemos  
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                        <img src="assets/images/A42.JPG">  
                    </div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                        <img src="assets/images/A43.JPG">  
                    </div>   
                    <br>

                    <app-modal nameButton="Ejercicio 2 U1" [content]="htmlOneAsString"></app-modal>

            </div>
        </div>
    </div>
</div>