
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="section-title bg-white text-start text-primary pe-3">Uso del recurso didactico </h1>
                <h3 class="mb-4">Agradecemos al INSTITUTO POLITECNICO NACIONAL</h3>
                
                <p> 
                Con este material no se pretende sustituir al profesor, sino
                contar con una ayuda extra para reforzar los temas vistos o poder prepararse para las siguientes clases.
                </p>
                        
                <p>
                Aqui encontraras apoyo de ejercicios resueltos, asi como
                propuestos para que adquieras mas destreza
                Este material tambien cuenta con evaluaciones
                correspondientes a cada una de las unidades, con las que podrás
                medir tu nivel de conocimientos y de aprendizaje en el momento
                que tù consideres. <br><br>
                
                <b>¿Cómo usar el recurso didáctico?</b>
        
                Las unidades de aprendizaje se encuentran en un menu de tu lado izquierdo, cada unidad cuenta con los temas 
                correspondientes del curso, asi mismo tambien cada tema cuenta con ejemplos y casos, el cual son explicados paso a paso para un mejor entendimiento.
                </p>
            </div>
        </div>
    </div>
</div>