<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Constante Integración</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Trigonometricas e Inversas</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                <p> Integrar. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T1.JPG" /> </div>
                <p> <b> Cualquiera de las dos formas es correcta. </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T2.JPG" /> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im30');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">   <img src="assets/images/T3.JPG" /></div></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T4.JPG" /> </div>
                <p> Sustituyendo en la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T5.JPG" /> </div>
                <p> La integral está completa, aplicamos la formula y resolvemos: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T6.JPG" /> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im31');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">   <img src="assets/images/T7.JPG" /></div></div>
                <p> Integrar. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T8.JPG" /> </div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T9.JPG" /> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im32');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <div id="im32" class="cp_oculta"> <img src="assets/images/T10.JPG" /></div></div>
                <p> Sustituyendo en la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T11.JPG" /> </div>
                <p> La integral está completa, por lo tanto resolvemos: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T12.JPG" /> </div>
                <p> Integrar. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T13.JPG" /> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im33');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">   <img src="assets/images/T14.JPG" /></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T15.JPG" /> </div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T16.JPG" /> </div>
                <P> Sustituyendo en la fórmula: </P>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T17.JPG" /> </div>
                <p> La integral está completa, por lo tanto resolvemos: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T18.JPG" /> </div>
                <p> Integrar. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T19.JPG" /> </div>
                <p> Desarrollamos el binomio: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T20.JPG" /> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im34');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">   <img src="assets/images/T21.JPG" /></div>
                <p> La integral queda. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T23.JPG" /> </div>
                <br>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im35');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/T24.JPG" /></div> 
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T25.JPG" /> </div>
                <br>
                <p> Reduciendo y aplicando identidades trigonométricas: </p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im36');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">   <img src="assets/images/T26.JPG" /></div>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T27.JPG" /> </div>
                <p> Resolviendo cada una de las integrales. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T28.JPG" /> </div>
                <p> Sustituimos en la fórmula. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T29.JPG" /> </div>
                <p> La integral está completa, por lo que aplicamos la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T30.JPG" /> </div>
                <p> Ahora resolvemos la otra integral: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T31.JPG"> </div>
                <p> Aplicando la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T32.JPG" /> </div>
                <p> Sustituimos en la fórmula. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T33.JPG" /> </div>
                <p> La integral está completa, por lo que resolvemos. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T34.JPG" /> </div>
                <p> <b> Por lo tanto la integral queda resuelta. </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T35.JPG" /> </div>
                <p> Ahora resolvemos la siguiente integral. </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T36.JPG" /> </div>
                <p> Se identifican los valores de:   a^2 &nbsp;&nbsp;  y &nbsp;&nbsp;  v^2 </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T37.JPG" /> </div>
                <p> Sacamos raíz a los valores de:   a^2 &nbsp;&nbsp;  y &nbsp;&nbsp;  v^2 </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T38.JPG" /> </div>
                <p> Diferenciamos el valor de v </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T39.JPG" /> </div>
                <p> Sustituimos los valores en la fórmula correspondiente: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T40.JPG" /> </div>
                <p> Vemos que la integral está completa: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T41.JPG" /> </div>
                <p> Resolvemos la integral: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T42.JPG" /> </div>
                <p> Finalmente queda: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T43.JPG" /> </div>
                <p> Finalmente, la integral queda juntando los dos resultados: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T44.JPG" /> </div>
                <p> <b> Integrar. </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T45.JPG" /> </div>
                <p> Para poder resolver este tipo de integral, se requiere factorizar el denominador, como un trinomio cuadrado perfecto. </p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im37');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">   <img src="assets/images/T46.JPG" /></div>
                <p> La integral queda: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T47.JPG" /> </div>
                <p> La fórmula a ocupar es: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T48.JPG" /> </div>
                <p> Se identifican los valores de   a^2 &nbsp;&nbsp;   y &nbsp;&nbsp;   v^2 </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T49.JPG" /> </div>
                <p> Sacamos raíz a los valores de   a^2 &nbsp;&nbsp; y &nbsp;&nbsp;   v^2 </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T50.JPG" /> </div>
                <p> Diferenciamos el valor de v: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T39.JPG" /> </div>
                <p> Sustituimos los valores en la formula correspondiente: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T51.JPG" /> </div>
                <p> Vemos que la integral está completa, aplicamos la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T52.JPG" /> </div>
                <p> <b> Integrar. </b> </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T53.JPG" /> </div>
                <p> Para poder resolver  este tipo de integral, se requiere factorizar el denominador, como un trinomio cuadrado perfecto. </p>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im38');">Recuerda</a></p>
                     <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T54.JPG" /></div>
                <p> La integral queda: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T55.JPG" /> </div>
                <p> La fórmula a ocupar es: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T56.JPG" /> </div>
                <p> Se identifican los valores de   a^2 &nbsp;&nbsp;   y &nbsp;&nbsp;   v^2 </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T57.JPG" /> </div>
                <p> Sacamos raíz a los valores de   a^2 &nbsp;&nbsp; y &nbsp;&nbsp;   v^2 </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T58.JPG" /> </div>
                <p> Diferenciamos el valor de v </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T39.JPG" /> </div>
                <p> Sustituimos los valores en la formula correspondiente: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T59.JPG" /> </div>
                <p> Vemos que la integral está completa, aplicamos la fórmula: </p>
                 <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/T60.JPG" /> </div>
                <p align="right"> <a id="hover" href="actividad6.htm">Ejercicio 6 U1</a> </p>
                <br>
                <app-modal nameButton="Ejercicio 2 U1" [content]="htmlOneAsString"></app-modal>
    </div>
</div>