<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Constante Integración</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Constante Integración</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">

                <p> Para calcular el valor de la constante de integración es necesario tener: </p>
                <p> 1. La expresión diferencial que se ha de integrar. </p>
                <p> 2. El valor de la función.  </p>
                <p> 3. El valor de la variable independiente. </p>
            <br>
                <p> <b> Ejemplo. </b> </p>
                <p> Calculamos el valor de la constante c, que considerando las condiciones del problema, este resultado debe ser igual a 2 para f(1). </p>
                <p> Sustituyendo estos valores en: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C1.JPG"> </div>
                <p> Se tiene: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C2.JPG"> </div>
                <p> Despejando el valor de la constante de integración "c"  se tiene: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C3.JPG"> </div>	
                <p> Por lo tanto la función original queda: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C4.JPG"> </div>
            <br>
            <br>
                <p> Calcular el valor de la constante de integración "c" de la siguiente función: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src ="images/C5.JPG"> </div>
                <p> Obteniendo su diferencial, tenemos: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C6.JPG"> </div>
                <p> Resolvemos </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C7.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im12');">Recuerda</a></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C14.JPG"> </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C15.JPG"> </div>
                <p> Calculamos el valor de la constante c, que considerando las condiciones del problema. </p>
                <p> Sustituyendo estos valores. f(2)=23 En la funcion: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C15.JPG"> </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C16.JPG"> </div>
                <p> Despejando el valor de la constante de integración "c"  se tiene: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C17.JPG"> </div> 
                <p> Por lo tanto la función original queda: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C18.JPG"> </div>
                <p> Calcular el valor de la constante de integración "c" de la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C19.JPG"> </div>
                <p> Obteniendo su diferencial, tenemos: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C20.JPG"> </div>
                <p> Resolvemos: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C21.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im13');">Recuerda</a></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C22.JPG"> </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C23.JPG"> </div>
                <p align="center"><a id="hover" href="javascript:MostrarOcultar('im14');">Recuerda</a></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C8.JPG"> </div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C9.JPG"> </div>
                <p> Calculamos el valor de la constante c, que considerando las condiciones del problema. </p>
                <p> Sustiyendo estos valores: <img src="assets/images/C10.JPG"> </p>
                <p> En la función: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C11.JPG"> </div>
            <br>
                <p> Despejando el valor de la constante de integración "c"  se tiene: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C12.JPG"> </div>
                <p> Por lo tanto la función original queda: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"> <img src="assets/images/C13.JPG"> </div>
                <p align="right"> <a id="hover" href="actividad3.htm">Ejercicio 3 U1</a> </p>
            <br>

            <app-modal nameButton="Ejercicio 2 U1" [content]="htmlOneAsString"></app-modal>
            </div>
        </div>
    </div>
</div>