<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Metodos de Integración</h1>
               
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Por Fracciones Parciales</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                 <p>Para poder distinguir cuando podemos usar este método es cuando 
                     el denominador es mayor al numerador en el exponente:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F1.png" > </div>
                    <p><I><B>Funciones racionales propias:</B></I> son aquellas en que el grado del numerador  es menor que la del denominador, por ejemplo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F2.png" > </div>
                    <p><I><B>Funciones racionales impropias:</B></I> son aquellas en las que el grado del numerador es igual o mayor que el grado del denominador, por ejemplo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F3.png" > </div>
                    <p>Existen 4 casos de este tipo de fracciones parciales (aunque estos cuatro casos se pueden combinar): </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F4.png" > </div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F5.png" > </div>
                    <p>Ejemplo. Resolver la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F6.png" > </div>
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F7.png" > </div>
                    <p>Descomponemos el término</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F8.png" > </div> 
                    <p>como una diferencia de cuadrados:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F9.png" > </div> 
                    <p>Por cada término que se tenga en el denominador será el número de fracciones que se tendrán:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F10.png" > </div> 
                    <p>Para este procedimiento le quitamos la <i>&#8747;</i> y el término <i>dx</i>
                    <p>Ahora trabajamos con las fracciones obtenidas, para conocer el valor de las incógnitas en este caso A y B</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F13.png" > </div> 
                    <p>Realizamos las operaciones, para conocer el valor de las incógnitas:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F14.png" > </div> 
                    <p>Reduciendo términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F15.png" > </div> 
                    <p>Quitando paréntesis:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F16.png" > </div> 
                    <p>Juntamos términos semejantes y factorizamos (si se puede factorizar)</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F17.png" > </div> 
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F18.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F19.png" > </div> 
                    <p>Ahora igualamos el primer término con el segundo término, 
                        esto es con términos semejantes</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F20.png" > </div> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F21.png" > </div>, 
                    <p>ya que en el primer miembro no existe una "x" </p>
                    <p>Despejando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F22.png" > </div> 
                    <p>Por lo que nos quedan dos ecuaciones simultaneas:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F23.png" > </div> 
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F24.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F25.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F26.png" > </div>
                    <p>Sustituimos en:  </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F27.png" > </div> 
                    <p>Despejando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F28.png" > </div>
                    <p>Con los valores de</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F29.png" > </div>
                    <p>sustituimos en:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F30.png" > </div> 
                    <p>Como al principio le quitamos la <i>&#8747;</i> y el término <i>dx</i> , ahora se lo agregamos para tener unas integrales:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F31.png" > </div> 
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F32.png" > </div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F33.png" > </div> 
                    <p>Para ambas:</p>
                    <p><I><B> dv = dx </B></I><BR></p>
                    <p>Por lo que las integrales están completas y resolvemos</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F34.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F35.png" > </div>
                    <p>Ejemplo: Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F36.png" > </div> 
                    <p>Para este procedimiento le quitamos la <i>&#8747; y el término dx</i></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F37.png" > </div> 
                    <p>Despejando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F38.png" > </div> 
                    <p>Reduciendo término:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F39.png" > </div> 
                    <p>Realizando operaciones:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F40.png" > </div> 
                    <p>Igualando primer término con el segundo término (aquí no se puede factorizar)</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F41.png" > </div> 
                    <p>Y despejando, tenemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F42.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F43.png" > </div> 
                    <p>Los sustituimos en:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F44.png" > </div> 
                    <p>Ahora le agregamos la <i>&#8747; y el termino dx</i> y resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F45.png" > </div> 
                    <p>Ahora resolvemos cada integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F46.png" > </div> 
                    <p>Para la integral:</p>
                    <p><I> v = x+1<BR>
                    dv = dx </I></p>
                    <p>Sustituyendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F47.png" > </div> 
                    <p>La integral está completa, resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F48.png" > </div> 
                    <p>Ahora resolvemos la otra integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F49.png" > </div> 
                    <p>Ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F50.png" > </div> 
                    <p>Para la integral:</p>
                    <p><I> v = x+1<br>
                    n = -2 <br>
                    dv = dx </I></p>
                    <p>Sustituimos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F51.png" > </div> 
                    <p>La integral está completa, resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F52.png" > </div> 
                    <p>Por lo tanto, la integral queda como:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F53.png" > </div> 
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F54.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F55.png" > </div>
                    <p>Ejemplo: Resolver la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F56.png" > </div> 
                    <p>Para este procedimiento le quitamos la <i>&#8747;   y el término dx</i></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F57.png" > </div> 
                    <p>Como ya no puede reducirse trabajamos con esta expresión:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F58.png" > </div> 
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F59.png" >
                    <p>Ahora resolviendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F61.png" > </div> 
                    <p>Reduciendo términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F62.png" > </div> 
                    <p>Realizando operaciones:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F63.png" > </div> 
                    <p>Juntando términos semejantes y factorizando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F64.png" > </div> 
                    <p>Igualando el primer término con el segundo término:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F65.png" > </div> 
                    <p>Despejando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F66.png" > </div> 
                    <p>Juntamos las ecuaciones:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F67.png" > </div> 
                    <p>Y las resolvemos como ecuaciones simultáneas:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F68.png" > </div> 
                    <p><I> 4A=1<BR>
                    A= <SUP>1</SUP>/<SUB>4</SUB></I><BR>
                    Este valor lo sustituimos en: <I>A+C=0<BR>
                    <SUP>1</SUP>/<sub>4</sub>+C = 0<BR>
                    C= -<SUP>1</SUP>/<sub>4</sub> </I></p>
                    <p>Ahora resolvemos la otra ecuación simultánea:</p>
                    <p><I>0=(B + D);  0=2(B - D)<BR>
                    B + D = 0<BR>
                    2B - 2D = 0 </I></p>
                    <p>Son ecuaciones equivalentes, por lo que no tienen solución, sus valores son:</p>
                    <p><I>B = 0  Y  C = 0 </I><BR></p>
                    Con los valores 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F71.png" > </div> 
                    <p>Sustituimos en:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F72.png" > </div> 
                    <p>Ahora le agregamos la <i>&#8747;</i> y el término <i>dx</i> y resolvemos.
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F73.png" > </div> 
                    <p>Resolvemos las integrales. En ambas ocupamos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F74.png" > </div> 
                    <p>Para las integrales:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F75.png" > </div> 
                    <p>Sustituyendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F76.png" > </div> 
                    <p>A ambas les falta un "2", por lo que a completamos las integrales y resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F77.png" > </div> 
                    <p>El resultado final es:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F78.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F79.png" > </div>
                    <p>Ejemplo: Resolver la integral </p>
                    

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F80.png" width="80%">
                    <p>Para este procedimiento le quitamos la <i>&#8747;</i> y el término <i>dx</i> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F81.png" > </div> 
                    <p>Ahora resolviendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F82.png" > </div> 
                    <p>Reduciendo términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F83.png" > </div> 
                    <p>Agrupando términos y factorizando</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F84.png" > </div> 
                    <p>Igualando términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F85.png" > </div> 
                    <p>Despejando términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F86.png" > </div> 
                    <p>Reduciendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F162.png" > </div> 
                    <p>Tenemos<BR>
                    <I>A = 1 - C </I></p>
                    
                    <p>Este valor lo sustituimos en: <I> 6 = A + 4B </I></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F163.png" > </div> 
                    <p>Ahora tenemos una ecuación simultánea que resolveremos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F164.png" > </div> 
                    <p>17B=17</p>
                    B=<SUP>17</SUP>/<SUB>17</SUB>=1
                    <p>Sustituyendo B en:<br>
                    b + 4c = -3 </p>
                    <p>1+4c=-3<br>
                    4c=-3-1<br>
                    4c=-4<br>
                    C=<SUP>-4</SUP>/<SUB>4</SUB>=-1<BR>
                    Sustituyendo el valor de "C" en: <I>A = 1 - C <BR>
                    A=1-8-19<BR>
                    A=1+1<BR>
                    A=2</I><BR></p>

                    <p>Con los valores de: <I>A=2  B=1  C=-1 </I>los sustituimos en:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F88.png" > </div> 
                    <p>Ahora le agregamos la <i>&#8747;</i> y el término <i>dx</i>  y resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F89.png" > </div> 
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F90.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F91.png" > </div> 
                    <p>Resolvemos cada integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F92.png" > </div> 
                    <p>Ocupamos la fórmula: </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F93.png" > </div> 
                    <p>Sustituyendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F94.png" > </div> 
                    <p>La integral no está completa, la a completamos y resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F95.png" > </div> 
                    <p>Reduciendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F96.png" > </div> 
                    <p>Ahora resolvemos la otra integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F165.png" > </div> 
                    <p>Ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F166.png" > </div> 
                    <p>Sustituyendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F167.png" > </div> 
                    <p>La integral le falta un "2" a completamos y resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F168.png" > </div> 
                    <p>Y por último resolvemos la integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F97.png" > </div> 
                    <p>Ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F98.png" > </div> 
                    <p>Sustituyendo en la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F97.png" > </div> 
                    <p>La integral está completa, resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F99.png" > </div> 
                    <p>Juntando los tres resultados, se tiene:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F100.png" > </div>
                    <p>Ejercicio: Resolver la integral.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F101.png" > </div>
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F102.png" >
                    <p>Factorizando</p>



                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F103.png" > </div>
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F104.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F105.png" > </div>
                    <p>Para este procedimiento le quitamos la <i>&#8747;</i> y el término <i>dx</i></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F106.png" > </div>
                    <p>Reduciendo términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F107.png" > </div>
                    <p>Despejando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F108.png" > </div>
                    <p>Reduciendo términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F109.png" > </div>
                    <p>Agrupando términos y factorizando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F110.png" > </div>
                    <p>Igualando términos y despejando</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F111.png" > </div>
                    <p>Nos queda una ecuación simultánea</p>
                    <i>B+C=-1<BR>B-2C=4</i><BR>
                    <p>La primera ecuación la multiplicamos por (-1)</p>
                    <p><I>-(B + C = -1)<BR> B-2C=4<BR><BR>
                    -B-C=1<BR>B-2C=4<BR>
                    ---------------<BR>-3C=5<BR>C=-<SUP>5</SUP>/<SUB>3</SUB></I></p>
                    <p>Sustituyendo en:
                    <i>B+C=-1
                    <p>B-<SUP>5</SUP>/<SUB>3</SUB>=-1<BR>B=-1+<SUP>5</SUP>/<SUB>3</SUB><BR>
                    B=<SUP>2</SUP>/<SUB>3</SUB></i></p>


                    <p>Estos valores los sustituimos en: </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F112.png" > </div>
                    <p>Ahora le agregamos la <i>&#8747;</i> y el término <i>dx</i> y resolvemos.
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F113.png" > </div>
                    <p>En las tres integrales ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F114.png" > </div>
                    <p>Para las tres integrales el valor de <I>dv</I> es el mismo<br>
                    <i>dv = dx </i></p>
                    <p>Sustituimos en la formula y vemos que las tres integrales están completas, resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F115.png" > </div>
                    <p>Por lo que nos queda:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F116.png" > </div>
                    <p>Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F117.png" > </div>
                    <p>Para este procedimiento le quitamos la <i>&#8747;</i> y el término <i>dx</i></p>
                    <p>En este caso se tienen 3 fracciones</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F118.png" > </div>
                    <p>Despejando</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F119.png" > </div>
                    <p>Reduciendo términos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F120.png" > </div>
                    <p>Juntando términos semejantes y factorizando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F121.png" > </div>
                    <p>Igualando términos:</p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F122.png" > </div>
                    <p>Despejando términos y reduciendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F123.png" > </div>
                    <p>Este valor lo sustituimos en: <I> -A+B=3<BR>
                    -A=3-B<BR>-A=3-1<BR>-A=-2</I></p>
                    <p>Y multiplicando por (-1)<I>-A=2<BR>
                    -1(-A=2)<BR>A=-2</I></p>
                    <p>Este valor lo sustituimos en:<I>4=A+C<BR>
                    4=-2+C<BR>C=4+2<BR>C=6</I></p>
                    <p>Con estos valores de <I>A=2 B=1 C=6 </I> los sustituimos en:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F124.png" > </div>
                    <p>Ahora le agregamos la <i>&#8747;</i> y el término <i>dx</i> y resolvemos.
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F125.png" > </div>
                    <p>En la primera y tercera ocupamos:</p> 
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F126.png" > </div> 
                    <p>y en la segunda ocupamos:</p> 
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F127.png" > </div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F128.png" > </div>
                    <p>Sustituimos en las formulas y vemos que las tres integrales están completas, resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F129.png" > </div>
                    <p>Resolver la siguiente integral:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F130.png" > </div>
                    <p align="center">Recuerda</p> 
                        <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F131.png" >
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F132.png" > </div>
                    <p>La primera integral queda </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F133.png" > </div>
                    <p>Ahora la segunda integral la resolvemos por fracciones parciales.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F134.png" > </div>
                    <p>Para este procedimiento le quitamos la <i>&#8747;</i> y el término <i>dx</i> </p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F135.png" > </div>
                    <p>Despejamos y reducimos términos</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F136.png" > </div>
                    <p>Agrupando términos semejantes y factorizando:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F137.png" > </div>
                    <p>Igualando términos semejantes:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F138.png" > </div>
                    <p>Y este valor lo sustituimos en: <I>-A+B=1<BR>
                    -A-1=1<BR>-1=1+A<BR>A=-1-1<BR>A=-2</I></p>
                    <p>Y este valor <I>A=-2</I> lo sustituimos en <I> A+C=0<BR>
                    -2+C=0<BR>C=2</I></p>
                    <p>Con estos valores de <I>A=-2 B=-1 C=2 </I> los sustituimos en:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F139.png" > </div>
                    <p>Ahora le agregamos la <i>&#8747;</i> y el término <i>dx</i> y resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F140.png" > </div>
                    <p>En la primera y tercera ocupamos:</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F126.png" > </div>
                    <p>y en la segunda ocupamos:</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F127.png" > </div>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F141.png" > </div>
                    <p>Sustituimos en las formulas y vemos que las tres integrales están completas, resolvemos.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F142.png" > </div>
                    <p>Pero hay que recordar que antes de esta integral hay una integral ya resuelta y un signo menos que no hemos considerado.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F143.png" > </div>
                    <p>Resolver la siguiente integral:</p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F144.png" > </div>
                    <p align="center">Recuerda</p> 
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F145.png" > </div>
                    <br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F146.png" > </div>
                    <p>Las dos primeras integrales quedan resueltas como:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F147.png" > </div>
                    <p>Por lo que ahora resolvemos la tercera integral por el método de fracciones parciales.</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F148.png" > </div>
                    <p>Para este procedimiento le quitamos la <i>&#8747;</i> y el término <i>dx</i> </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F149.png" > </div>
                    <p>Despejando y sustituyendo:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F150.png" > </div>
                    <p>Agrupando términos y factorizando</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F151.png" > </div>
                    <p>Igualando términos</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F152.png" > </div>
                    <p>Despejando términos</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F153.png" > </div>
                    <p>Tenemos dos ecuaciones simultáneas que resolvemos:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F154.png" > </div>
                    <p>Sustituyendo este valor en <B><I>A+B=38</I></B></p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F155.png" > </div>
                    <p>Estos valores:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F156.png" > </div> 
                    <p>los sustituimos en:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F157.png" > </div>
                    <p>Ahora le agregamos la <i>&#8747;</i> y el término <i>dx</i> y resolvemos.
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F158.png" > </div>
                    <p>En ambas integrales ocupamos la fórmula:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F159.png" > </div>
                    <p>Para ambas el valor de <I>dv</I> es el mismo<br>
                    <i>dv=dx</i></p>
                    <p>Sustituimos en la formula y vemos que las integrales están completas, resolvemos</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F160.png" > </div>
                    <p>Por lo que el resultado final es:</p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  <img src="assets/images/D1F161.png" > </div>


                    <app-modal nameButton="Ejercicio 4 U2" [content]="htmlOneAsString"></app-modal>
            </div>
        </div>
    </div>
</div>