
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="section-title bg-white text-start text-primary pe-3">Introducción</h1>
                <h3 class="mb-4">Agradecemos al INSTITUTO POLITECNICO NACIONAL</h3>

                <p> Les damos la más cordial bienvenida al poli-libro de cálculo integral, el cual te será de gran utilidad como un material de apoyo, utilizándolo paralelamente a tu curso en el instituto. </p>
                <p>Estamos siendo participes de un modelo educativo que día a día toma mayor importancia, donde la tecnología es un elemento clave para un mejor desarrollo de un curso, pero sobre todo una gran herramienta de aprendizaje. </p>
                <br>
                <p><b>"No existe una manera fácil. No importa cuán talentoso seas, tu talento te va a fallar si no lo desarrollas, si no estudias, si no trabajas duro, si no te dedicas a ser mejor cada día". </b> </p>
               <p align="right"> Will Smith</p>
            </div>
        </div>
    </div>
</div>