
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="section-title bg-white text-start text-primary pe-3">AGRADECIMIENTO AL IPN</h1>
                <h3 class="mb-4">Agradecemos al INSTITUTO POLITECNICO NACIONAL</h3>

                
                <p class="mb-4">    
                Por las facilidades otorgadas para la elaboración de este texto, que tiene como fin atender el programa de 
                "Cálculo integral"
                 del nivel medio superior del IPN, así como el apoyo que nos ha brindado como académicos, investigadores y formadores de jóvenes mexicanos.
                Del mismo modo, reiteramos nuestro compromiso laboral para el progreso de nuestra noble y grandiosa institución, aportando nuestra dedicación para poner:


                <p>
                "LA TECNICA AL SERVICIO DE LA PATRIA"
                </p>

                <p>
                María Patricia Colín Uribe
                </p>

                <p>
                Celia Araceli Islas Salomón
                </p>

                <p>
                Fernando Morales Téllez
            </div>
        </div>
    </div>
</div>