<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Integral Definida</h1>
               
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Integral Definida</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">


                    <p> Anteriormente vimos lo que es una integral indefinida; Una integral indefinida o antiderivada, no tiene especificado los límites de la integración. La incertidumbre en el valor de la integral indefinida, se expresa en forma de una constante de integración que no está definida por el proceso de la integración. La constante de integración se determina, aplicando las condiciones iniciales relevantes al problema.</p>

                    <p>
                    <b>¿Pero entonces que es una integral definida?</b>
                    </p>

                    <p>
                    Es una integración entre límites, esto es entre un límite superior b y un límite inferior a. Entonces, la integral tiene un valor definido que depende de la funciín &fnof;<i>(x)</i>&nbsp; y del intervalo seleccionado.
                    La integral definida se representa como:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I1.PNG"></div>

                    <p>
                    También se puede representar como:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I2.PNG"></div>

                    <p>
                    Y lo anterior se puede leer como:
                    La integral desde a hasta b de &fnof;<i>(x)</i>&nbsp;<br> Y se puede calcular:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I3.PNG" >

                    <p>
                    De lo anterior tenemos: La  integral definida de una función continúa en un intervalo determinado, es igual a la diferencia de los valores de una de su función original (primitiva) en los extremos (extremo superior y extremo inferior) de ese intervalo.
                    Para resolver una integral definida se siguen los siguientes pasos:
                    </p>

                    <p><b>
                    1. &nbsp; Se resuelve la integral definida,  como una integral indefinida, no se considera la constante de integración.<br><br>
                    2. &nbsp; El resultado se encierra dentro de un paréntesis rectangular, colocando los límites de la integral [ ]<sup>b</sup><sub>a</sub>&nbsp;.<br><br>
                    3. &nbsp; Sustituimos los límites en el resultado de nuestra integral definida, colocando primero el límite superior menos el límite inferior.<br><br>
                    4. &nbsp; Resolvemos.
                    </b></p><br><br>

                    <!--******************************-->

                    <p> <b> Ejemplo 1: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I4.PNG"></div>

                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I5.PNG"></div>  
                    

                    <p> <b> 2.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I6.PNG"></div>

                    <p> <b> 3.	Sustituimos los límites, límite superior menos límite inferior: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I7.PNG"></div>

                    <p> <b> 4.	Resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I8.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 2: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I9.PNG"></div>

                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I10.PNG"></div>

                    <p> <b> 2.	Utilizamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I11.PNG"></div>  
                    

                    <p> <b> 3.	Sustituimos en la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I12.PNG"></div>

                    <p> <b> 4.	A completamos la integral y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I13.PNG"></div>

                    <p> <b> 5.	Reduciendo términos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I14.PNG"></div>

                    <p> <b> 6.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I15.PNG"></div>

                    <p> <b> 7.	Sustituimos los límites, límite superior menos límite inferior: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I16.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 3: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I17.PNG"></div>

                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I18.PNG"></div>

                    <p> <b> 2.	Utilizamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I19.PNG"></div>

                    <p> <b> 3.	Sustituimos en la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I20.PNG"></div> 
                    

                    <p> <b> 4.	La integral está completa,  resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I21.PNG"></div>

                    <p> <b> 5.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I22.PNG"></div>
                    <p> <b> 6.	Sustituimos los límites, límite superior menos límite inferior: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I23.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 4: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I25.PNG"></div>
                    <br>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I26.PNG" width="650px" height="250px">

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I27.PNG"></div>
                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I28.PNG"></div>

                    <p> <b> 2.	En la cuarta integral utilizamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I29.PNG"></div>

                    <p> <b> 3.	Sustituimos en las integrales, la primera, segunda y tercera son inmediatas la cuarta está completa: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I30.PNG"></div>  
                    

                    <p> <b> 4.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I31.PNG"></div>  
                    

                    <p> <b> 5.	Sustituimos los límites, límite superior menos límite inferior y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I32.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 5: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I33.PNG"></div>

                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I34.PNG"></div>

                    <p> <b> 2.	Utilizamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I35.PNG"></div>

                    <p> <b> 3.	Sustituimos en la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I36.PNG"></div>

                    <p> <b> 4.	La integral está completa,  resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I37.PNG"></div>

                    <p> <b> 5.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I38.PNG"></div>

                    <p> <b> 6.	Sustituimos los límites, límite superior menos límite inferior y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I39.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 6: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I40.PNG"></div>

                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I41.PNG"></div>

                    <p> <b> 2.	Utilizamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I42.PNG"></div>

                    <p> <b> 3.	Sustituimos en la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I43.PNG"></div>

                    <p> La integral no está completa, la a completamos y  resolvemos: </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I44.PNG"></div> 

                    <p> <b> 4.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I45.PNG"></div> 

                    <p> <b> 5.	Sustituimos los límites, límite superior menos límite inferior y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I46.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 7: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I47.PNG"></div>

                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I48.PNG"></div>

                    <p> <b> 2.	Utilizamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I49.PNG"></div>  

                    <p> <b> 3.	Sustituimos en la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I50.PNG"></div>  
                    

                    <p> <b> 4.	La integral está completa,  resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I51.PNG"></div>  

                    <p> <b> 5.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I52.PNG"></div>

                    <p> <b> 6.	Sustituimos los límites, límite superior menos límite inferior y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I53.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 8: </b> </p>

                    <p>
                    Resolver la siguiente integral definida:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I54.PNG"></div>

                    <p> <b> 1.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I55.PNG"></div>
                    <p> <b> 2.	Utilizamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I56.PNG"></div>

                    <p> <b> 3.	Sustituimos en la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I57.PNG"></div>

                    <p> <b> 4.	La integral no está completa la completamos y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I58.PNG"></div>

                    <p> <b> 5.	Colocamos los límites superior e inferior en el paréntesis rectangular [ ]<sup>b</sup><sub>a</sub>&nbsp;: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I59.PNG"></div>  
                    
                    <p> <b> 6.	Sustituimos los límites, límite superior menos límite inferior y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s"><img src="assets/images/I60.PNG"></div>

                    <br>


                <app-modal nameButton="Ejercicio 1 U3" [content]="htmlOneAsString"></app-modal>
            </div>
        </div>
    </div>
</div>

