<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Integral Definida</h1>
               
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Area Bajo La Curva</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                <p> Integrar. </p>
                    <p>Hasta ahora únicamente hemos aprendido a calcular integrales, sin plantearnos la utilidad que estas pueden tener. Sin embargo, la integral definida es un método rápido para calcular áreas, volúmenes, longitudes, etc., lejos de los procesos lentos y laboriosos que empleaban los griegos.<br><br>
                    Tal como hemos visto antes, la integral definida es una generalización del proceso del cálculo de áreas. Ahora bien, el área de un recinto es siempre positiva, mientras que la integral puede ser positiva, negativa o nula. Por tanto, en la aplicación de la integral al cálculo de áreas, debe tenerse en cuenta el signo de cada uno de los recintos limitados por el eje OX , y tomar el valor absoluto de los mismos. Su suma es el área.
                    <br><br>
                    Como ya se ha visto que la evaluación de la integral definida de una función &fnof;<i>(x)</i>, que es continúa en el intervalo <i>[a , b]</i>, viene dado por:
                    </p>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB3.PNG"></div>

                    <p>
                    Donde <i>F ' (x)</i> significa una razón de cambio de <i>y</i> con respecto a <i>x</i> y que &fnof;<i>(b) - &fnof;(a)</i> es lo que cambia y cuando <i>x</i> cambia de <i>"a"</i>&nbsp; hacia <i>"b"</i>.&nbsp; De manera que podemos volver a plantear la definición de la integral definida  de la manera siguiente:
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB6.PNG"></div>
                    <p>
                    Con lo anterior se puede aplicar con el cálculo de áreas.
                    Encontrar  el área de regiones no poligonales es difícil. Los antiguos griegos, fueron capaces de determinar  fórmulas para áreas de algunas regiones generales (principalmente  de las limitadas por secciones cónicas) como método del agotamiento.  

                    <br><br>
                    Arquímedes dio la descripción más clara de este método. En esencia, el método es un proceso limitante en el que el área se comprime entre dos polígonos, uno inscrito en la región y  el otro circunscrito alrededor de ella.
                    <br><br>
                    Como se muestra en la siguiente figura.
                    </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB11.PNG"></div>

                    <p>
                    Con este mismo principio se calcula el área de una función o el área entre dos funciones (área bajo una curva o área entre dos curvas)
                    <br><br>
                    </p>

                    <p><b><u>
                    área bajo la curva:
                    </u></b></p>

                    <p>
                    Para calcular el área bajo la curva, se presentan dos casos:
                    </p>

                    <p><b>
                    1.	Nos dan la función y los límites a calcular.
                    <br><br>
                    2.	Nos dan la función y nosotros calculamos los límites.
                    En ambos casos se debe graficar (para ver el área a calcular)
                    </b></p>

                    <!--******************************-->

                    <p> <b> Ejemplo 1: </b> </p>

                    <p>
                    Calcular el area que forma la siguiente función: <i>y = (x<sup>2</sup> + 3)</i> &nbsp; y las verticales <i>x = -1</i> &nbsp; y &nbsp; <i>x = 2</i>
                    </p>

                    <p> <b> 1.	Tabulamos para poder graficar: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB13.PNG"></div>

                    <p> <b> 2.	Graficamos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB14.PNG"></div>

                    <p> <b> 3.	Calculamos el área. (Aplicando el concepto de integral definida): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB15.PNG"></div>

                    <p> <b> 4.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB16.PNG"></div>

                    <p> <b> 5.	Sustituimos los límites: (límite superior menos límite inferior): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB17.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 2: </b> </p>

                    <p>
                    Calcular el área de la siguiente función: <i>y = 2x  - x<sup>2</sup></i>, &nbsp; sobre el eje de las "x".
                    </p>

                    <p> <b> 1.	Tabulamos para poder graficar: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB19.PNG"></div>

                    <p> <b> 2.	Graficamos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB20.PNG"></div>

                    <p> <b> 3.	Calculamos el área. (Aplicando el concepto de integral definida): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB21.PNG"></div> 

                    <p> <b> 4.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB22.PNG"></div>

                    <p> <b> 5.	Sustituimos los límites: (límite superior menos límite inferior): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB23.PNG"></div>

                    <p>
                    Como se aprecia en la gráfica los límites son donde corta la curva con el eje de las "x" que en este caso son <i>x = 0</i>&nbsp; y &nbsp; <i>x = 2</i>.
                    <br><br>
                    También los límites se pueden calcular algebraicamente:
                    </p>

                    <ul>
                    <li>Igualamos la ecuación a cero</li><br>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB24.PNG"></div> 

                    <br>
                    <li>Tenemos una ecuación de segundo grado     	
                    incompleta y la resolvemos con la fórmula:</li><br>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB25.PNG"></div> 

                    <br>
                    <li>Sustituyendo en la fórmula:</li><br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB26.PNG"></div> 
                    <br>
                    <li>Calculamos el área. (Aplicando el concepto de integral definida):</li><br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB27.PNG"></div> 
                    <br>
                    <li>Resolvemos a integral:</li><br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB28.PNG"></div> 
                    <br>
                    <li>Sustituimos los límites: (límite superior menos límite inferior):</li><br>
                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB29.PNG"></div> 
                    <br>
                    </ul>


                    <!--******************************-->

                    <p> <b> Ejemplo 3: </b> </p>

                    <p>
                    Calcular el área de la siguiente función: <i>y = 1 / x</i>&nbsp;, &nbsp; limitada por las rectas verticales <i> x = 1</i> &nbsp; y &nbsp; <i>x =2</i>&nbsp;, &nbsp; sobre el eje de las "x".
                    </p>

                    <p> <b> 1.	Tabulamos para poder graficar: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB31.PNG"></div>

                    <p> <b> 2.	Graficamos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB32.PNG"></div>

                    <p> <b> 3.	Calculamos el área. (Aplicando el concepto de integral definida): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB33.PNG"></div>

                    <p> <b> 4.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB34.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 4: </b> </p>

                    <p>
                    Calcular el área de la siguiente función: <i>y = e<sup>x</sup></i>, &nbsp; limitada por las rectas verticales <i>x = 0</i> &nbsp; y &nbsp; <i>x = 1</i>, &nbsp; sobre el eje de las "x". </p>

                    <p> <b> 1.	Tabulamos para poder graficar: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB36.PNG"></div>

                    <p> <b> 2.	Graficamos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB37.PNG"></div>

                    <p> <b> 3.	Calculamos el área. (Aplicando el concepto de integral definida): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB38.PNG"></div>

                    <p> <b> 4.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB39.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 5: </b> </p>

                    <p>
                    Calcular el área de la siguiente función: <i>y = x<sup>2</sup></i>, &nbsp; limitada por las rectas verticales <i>x = 1</i> &nbsp; y &nbsp; <i>x = 2</i>, &nbsp; sobre el eje de las "x". </p>

                    <p> <b> 1.	Tabulamos para poder graficar: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB42.PNG"></div>

                    <p> <b> 2.	Graficamos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB43.PNG"width="400px" height="300px">

                    <p> <b> 3.	Calculamos el área. (Aplicando el concepto de integral definida): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB44.PNG"></div>

                    <p> <b> 4.	Resolvemos la integral: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB45.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 6: </b> </p>

                    <p>
                    Hallar el área comprendida entre el eje "y" y la parábola: <i>x = 4y - y <sup>2</sup></i>
                    </p>

                    <p> <b> 1.	Tabulamos para poder graficar: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB48.PNG"></div>

                    <p> <b> 2.	Graficamos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB49.PNG"></div>

                    <p><b>
                    3. Como se aprecia en la gráfica los límites son donde corta la curva con el eje de las "y" que en este caso son: <i>y = 0</i>&nbsp; y &nbsp; <i>y = 4</i>&nbsp;.
                    <br><br>
                    También los límites se pueden calcular algebraicamente.
                    Igualamos la ecuación a cero
                    </b></p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB50.PNG"></div>

                    <p><b>
                    4. Tenemos una ecuación de segundo grado incompleta y la resolvemos con la fórmula:
                    </b></p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB51.PNG"></div>

                    <p> <b> 5.	Sustituyendo en la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB52.PNG"></div>

                    <p> <b> 6.	Calculamos el área. (Aplicando el concepto de integral definida): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB53.PNG"></div>

                    <!--******************************-->

                    <p> <b> Ejemplo 7: </b> </p>

                    <p>
                    Hallar el área comprendida entre el eje "x" y la función <i>y = Sen2x</i>, &nbsp; Comprendida entre <i>(0 &le; x &ge; &pi;)</i>&nbsp;.</p>

                    <p> <b> 1.	Tabulamos para poder graficar: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB57.PNG"></div>

                    <p> <b> 2.	Graficamos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB58.PNG"></div>

                    <p> <b> 3.	Calculamos el área. (Aplicando el concepto de integral definida): </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB59.PNG"></div>

                    <p> <b> 4.	Aplicamos la fórmula: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB61.PNG"></div>

                    <p> <b> 5.	Sustituimos en la formula y vemos que la integral no está completa: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB62.PNG"></div>

                    <p> <b> 6.	A completamos la integral y resolvemos: </b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB63.PNG"></div>

                    <p> <b> 7.	En la figura se ve que de <sup>&pi;</sup>/<sub>2</sub> &nbsp; a &nbsp; &pi; &nbsp;,&nbsp; es área negativa, por lo que la integral se divide en dos</b> </p>

                    <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                     <img src="assets/images/AB66.PNG"></div>
                </div>
            </div>        
    </div>
</div>