<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Metodos de Integración</h1>
               
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Por Sustitución Trigonometrica</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">
                <p> En este tipo de integrales, reemplazamos la integral original, por una equivalente,
                esta equivalencia corresponde a funciones trigonométricas, en su momento parecerá difícil, 
                pero auxiliándonos de las funciones trigonométricas se hará más fácil.</p>
                <p>Cuando se tiene el resultado final, se vuelve a transformar la integral, con la ayuda de un 
                triángulo, según sea el caso y de esta manera se ha hecho fácil su solución.</p>
                <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=6 FACE="Century Gothic"> CASO 1 </FONT></SPAN></p>
                <p>RADICAL: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F1.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F2.png" width="150px" height="410px"></div>
                <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=6 FACE="Century Gothic"> CASO 2 </FONT></SPAN></p>
                <p>RADICAL:<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F3.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F4.png" width="150px" height="410px"></div>
                <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=6 FACE="Century Gothic"> CASO 3 </FONT></SPAN></p>
                <p>RADICAL:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F5.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F6.png" width="150px" height="410px"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F7.png" width="560px" height="520px"></div>
                <p>Ejemplo 1: Resolver la siguiente integral.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F8.png"  width="320px" height="40px"></div>
                <p>Tipo de radical: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F1.png"></div>
                <p> Caso 1</p>
                <p>Identificamos los valores</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F9.png"></div>
                <p>Los sustituimos en:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F10.png"></div>
                <p>Sustituimos estos valores en la integral original.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F11.png" width="280px" height="40px"></div>
                <p>Comenzamos a reducir términos, y /o a realizar operaciones:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F11.png" width="280px" height="40px"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F13.png" width="340px" height="90px"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F14.png" width="200px" height="40px"></div>
                <p>Resolvemos la integral</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F15.png" width="200px" height="40px"></div>
                <p>Ocupamos las fórmulas:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F16.png" width="320px" height="130px"></div>
                <p>Con este resultado aplicamos el triángulo del caso 1.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F17.png" width="260px" height="340px"></div>
                <p>Ejercicio 2: Resolver la siguiente integral:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F18.png"></div>
                <p>Tipo de radical: <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F3.png"></div>
                <p>Caso 2</p>
                <p>Identificamos los valores</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F19.png"></div>
                <p>Los sustituimos en:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F20.png"></div>
                <p>Sustituimos estos valores en la integral original.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F21.png"></div>
                <p>Comenzamos a reducir términos, y /o a realizar operaciones:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F22.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F23.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F24.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F25.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F26.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F27.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F28.png"></div>
                <p>Resolvemos la integral con la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F29.png"></div>
                <p>Sustituimos en la fórmula</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F28.png"></div>
                <p>La integral está completa resolvemos:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F30.png"></div>
                <p>CASO 2. </p>
                <p>RADICAL:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F31.png"></div>
                <p>Ejemplo 3: Resolver la siguiente integral:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F32.png"></div>
                <p>Tipo de radical: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F5.png"></div> 
                <p> Caso 3</p>
                <p>Identificamos los valores</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F33.png"></div>
                <p>Los sustituimos en:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F34.png"></div>
                <p>Sustituimos estos valores en la integral original.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F35.png"></div>
                <p>Comenzamos a reducir términos, y /o a realizar operaciones:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F36.png"></div>
                <p>Para resolver esta integral se tiene que resolver por integración por partes:</p>
                <p>Resolveremos la integración por partes, el 4 lo dejamos hasta el último, esto es multiplicara al resultado final.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F37.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F38.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F39.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F40.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F41.png"></div>
                <p>Realizamos la multiplicación:</p>

                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F42.png"></div>

                <p>Se regresa a la integral original, si integramos: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F43.png"></div>
                <p> , la integral se repetiría, lo cual nos lleva a una integral infinita., por lo que despejamos la integral </p>
                
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F44.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F45.png"></div>
                <p>Resolvemos la integral:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F46.png"></div>
                <p>Con la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F47.png"></div>
                <p>Sustituyendo estos valores en la fórmula, vemos que la integral está completa.</p>
                <p>Por lo que la integral queda resuelta como:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F48.png"></div>
                <p>Despejamos el valor numérico de "2"</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F49.png"></div>
                <p>Pero recordando que originalmente la integral era multiplicada por un "4"</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F50.png"></div>
                <p>Con este resultado aplicamos el triángulo del caso 3</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F51.png"></div>     
                <p>Sustituyendo estos valores en la integral:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F52.png"></div>
                <p>Ejemplo 4: Resolver la siguiente integral:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F53.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F54.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F55.png"></div>
                <p>Tipo de radical: <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F1.png"></div> 
                <p>Caso 1</p>
                <p>Identificamos los valores</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F56.png"></div>  
                <p>Los sustituimos en:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F57.png"></div>
                <p>Sustituimos estos valores en la integral original.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F58.png"></div> 
                <p>Reduciendo términos:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F59.png"></div> 
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F60.png"></div>
                <p>Resolvemos esta integral, ocupamos la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F61.png"></div> 
                <p>La integral está completa, resolvemos</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F62.png"></div> 
                <p>Con este resultado aplicamos el triángulo del caso 1.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F63.png"></div> 
                <p>Sustituyendo los valores:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F64.png"></div> 
                <p>Finalmente:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F65.png"></div> 
                <p>Ejemplo 5: Resolver la siguiente integral:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F66.png"></div> 
                <p>Tipo de radical: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F5.png"></div> 
                <p> Caso 3</p>
                <p>Identificamos los valores</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F67.png"></div> 
                <p>Los sustituimos en:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F68.png"></div>
                <p>Sustituimos estos valores en la integral original.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F69.png"></div>  
                <p>Reduciendo términos:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F70.png"></div> 
                <p align="center">Recuerda</p> 
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F71.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F72.png"></div>
                <p align="center">Recuerda</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F73.png"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F74.png"></div>  
                <p>Resolvemos esta integral, ocupamos la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F75.png"></div>  
                <p>La integral está completa, resolvemos</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images//D4F76.png"></div>  
                <p>Con este resultado aplicamos el triángulo del caso 3</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F77.png"></div>   
                <p>Finalmente queda:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F78.png"></div>  
                <p>Ejemplo 6: Resolver la siguiente integral:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F79.png"></div> 
                <p>Tipo de radical: 
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F3.png"></div>
                <p> Caso 2</p>
                <p>Identificamos los valores</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F80.png"></div> 
                <p>Los sustituimos en:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F81.png" width="380px" height="160px"></div>
                <p>Sustituimos estos valores en la integral original.</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F82.png" width="210px" height="80px"></div> 
                <p>Realizando operaciones</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F83.png" width="210px" height="35px"></div> 
                <p>Resolvemos aplicando la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F84.png" width="210px" height="150px"></div> 
                <p>Sustituyendo estos valores en la fórmula:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F85.png" width="230px" height="35px"></div> 
                <p>La integral está completa, por lo que resolvemos:</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F86.png" width="350px" height="80px"></div> 
                <p>Reduciendo términos</p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F87.png" width="350px" height="40px"></div> 
                <p>Ocupando el triángulo del cuadro 2</p>
                <p>RADICAL: </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F3.png" width="200px" height="30px"></div>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">  
                <img src="assets/images/D4F88.png" width="280px" height="420px"></div> 

                <br>
                <app-modal nameButton="Ejercicio 3 U2" [content]="htmlOneAsString"></app-modal>
                </div>
        </div>
    </div>
</div>
