<div class="container-fluid bg-primary py-1 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Metodos de Integración</h1>
               
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title bg-white text-center text-primary px-3">Por Sustitución Trigonometrica</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-10 wow fadeInUp" data-wow-delay="0.1s">

                            
            <p>En este tipo de integrales, reemplazamos la integral original, por una equivalente, esta equivalencia corresponde a funciones trigonométricas, en su momento parecerá difícil, pero auxiliándonos de las funciones trigonométricas se hará más fácil.</p>
            <p>Cuando se tiene el resultado final, se vuelve a transformar la integral, con la ayuda de un triángulo, según sea el caso y de esta manera se ha hecho fácil su solución.</p>
            <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=6 FACE="Century Gothic"> CASO 1 </FONT></SPAN></p>
            <p>RADICAL: <img src="assets//D4F1.png"></p>
            <p><img src="assets//D4F2.png"></p>
            <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=6 FACE="Century Gothic"> CASO 2 </FONT></SPAN></p>
            <p>RADICAL:<img src="assets//D4F3.png"></p>
            <p><img src="assets//D4F4.png"></p>
            <p><SPAN STYLE="background-color:#F1FC02"><FONT SIZE=6 FACE="Century Gothic"> CASO 3 </FONT></SPAN></p>
            <p>RADICAL:<img src="assets//D4F5.png"></p>
            <p><img src="assets//D4F6.png"></p>
            <p><img src="assets//D4F7.png"></p>
            <p>Ejemplo 1: Resolver la siguiente integral.</p>
            <p><img src="assets//D4F8.png"></p>
            <p>Tipo de radical: <img src="assets//D4F1.png"> Caso 1</p>
            <p>Identificamos los valores</p>
            <p><img src="assets//D4F9.png"></p>
            <p>Los sustituimos en:</p>
            <p><img src="assets//D4F10.png" width="80%"></p>
            <p>Sustituimos estos valores en la integral original.</p>
            <p><img src="assets//D4F11.png" width="80%"></p>
            <p>Comenzamos a reducir términos, y /o a realizar operaciones:</p>
            <p><img src="assets//D4F11.png"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im73');">Recuerda</a></p>
                    <div id="im73" class="cp_oculta"> <img src="assets//D4F13.png" width="80%"></div>
            <p><img src="assets//D4F14.png"></p>
            <p>Resolvemos la integral</p>
            <p><img src="assets//D4F15.png"></p>
            <p>Ocupamos las fórmulas:</p>
            <p><img src="assets//D4F16.png"></p>
            <p>Con este resultado aplicamos el triángulo del caso 1.</p>
            <p><img src="assets//D4F17.png"></p>
            <p>Ejercicio 2: Resolver la siguiente integral:</p>
            <p><img src="assets//D4F18.png"></p>
            <p>Tipo de radical: <img src="assets//D4F3.png"> Caso 2</p>
            <p>Identificamos los valores</p>
            <p><img src="assets//D4F19.png"></p>
            <p>Los sustituimos en:</p>
            <p><img src="assets//D4F20.png" width="90%"></p>
            <p>Sustituimos estos valores en la integral original.</p>
            <p><img src="assets//D4F21.png"></p>
            <p>Comenzamos a reducir términos, y /o a realizar operaciones:</p>
            <p><img src="assets//D4F22.png"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im74');">Recuerda</a></p>
                    <div id="im74" class="cp_oculta"> <img src="assets//D4F23.png"></div>
            <p><img src="assets//D4F24.png"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im75');">Recuerda</a></p>
                    <div id="im75" class="cp_oculta"> <img src="assets//D4F25.png" width="90%"></div>
            <p><img src="assets//D4F26.png"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im76');">Recuerda</a></p>
                    <div id="im76" class="cp_oculta"> <img src="assets//D4F27.png"></div>
            <p><img src="assets//D4F28.png"></p>
            <p>Resolvemos la integral con la fórmula:</p>
            <p><img src="assets//D4F29.png"></p>
            <p>Sustituimos en la fórmula</p>
            <p><img src="assets//D4F28.png"></p>
            <p>La integral está completa resolvemos:</p>
            <p><img src="assets//D4F30.png"></p>
            <p>CASO 2. </p>
            <p>RADICAL:</p>
            <p><img src="assets//D4F31.png"></p>
            <p>Ejemplo 3: Resolver la siguiente integral:</p>
            <p><img src="assets//D4F32.png"></p>
            <p>Tipo de radical: <img src="assets//D4F5.png"> Caso 3</p>
            <p>Identificamos los valores</p>
            <p><img src="assets//D4F33.png"></p>
            <p>Los sustituimos en:</p>
            <p><img src="assets//D4F34.png" width="90%"></p>
            <p>Sustituimos estos valores en la integral original.</p>
            <p><img src="assets//D4F35.png"></p>
            <p>Comenzamos a reducir términos, y /o a realizar operaciones:</p>
            <p><img src="assets//D4F36.png"></p>
            <p>Para resolver esta integral se tiene que resolver por integración por partes:</p>
            <p>Resolveremos la integración por partes, el 4 lo dejamos hasta el último, esto es multiplicara al resultado final.</p>
            <p><img src="assets//D4F37.png" width="90%"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im77');">Recuerda</a></p>
                    <div id="im77" class="cp_oculta"> <img src="assets//D4F38.png" width="90%"></div>
            <p><img src="assets//D4F39.png" width="90%"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im78');">Recuerda</a></p>
                    <div id="im78" class="cp_oculta"> <img src="assets//D4F40.png"></div>
            <p><img src="assets//D4F41.png" width="90%"></p>
            <p>Realizamos la multiplicación:</p>
            <p><img src="assets//D4F42.png" width="80%"></p>
            <p>Se regresa a la integral original, si integramos: <img src="assets//D4F43.png">, la integral se repetiría, lo cual nos lleva a una integral infinita., por lo que despejamos la integral <img src="assets//D4F44.png"> </p>
            <p><img src="assets//D4F45.png"></p>
            <p>Resolvemos la integral:</p>
            <p><img src="assets//D4F46.png"></p>
            <p>Con la fórmula:</p>
            <p><img src="assets//D4F47.png"></p>
            <p>Sustituyendo estos valores en la fórmula, vemos que la integral está completa.
            <p>Por lo que la integral queda resuelta como:</p>
            <p><img src="assets//D4F48.png"></p>
            <p>Despejamos el valor numérico de "2"</p>
            <p><img src="assets//D4F49.png"></p>
            <p>Pero recordando que originalmente la integral era multiplicada por un "4"</p>
            <p><img src="assets//D4F50.png"></p>
            <p>Con este resultado aplicamos el triángulo del caso 3</p>
            <p><img src="assets//D4F51.png"></p>     
            <p>Sustituyendo estos valores en la integral:</p>
            <p><img src="assets//D4F52.png"></p>
            <p>Ejemplo 4: Resolver la siguiente integral:</p>
            <p><img src="assets//D4F53.png"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im79');">Recuerda</a></p>
                    <div id="im79" class="cp_oculta"> <img src="assets//D4F54.png"></div>
            <p><img src="assets//D4F55.png"></p>
            <p>Tipo de radical: <img src="assets//D4F1.png"> Caso 1</p>
            <p>Identificamos los valores</p>
            <p><img src="assets//D4F56.png"></p>  
            <p>Los sustituimos en:</p>
            <p><img src="assets//D4F57.png" width="90%"></p> 
            <p>Sustituimos estos valores en la integral original.</p>
            <p><img src="assets//D4F58.png"></p> 
            <p>Reduciendo términos:</p>
            <p><img src="assets//D4F59.png"></p> 
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im80');">Recuerda</a></p>
                    <div id="im80" class="cp_oculta"> <img src="assets//D4F60.png" width="90%"></div>
            <p>Resolvemos esta integral, ocupamos la fórmula:</p>
            <p><img src="assets//D4F61.png"></p> 
            <p>La integral está completa, resolvemos</p>
            <p><img src="assets//D4F62.png"></p> 
            <p>Con este resultado aplicamos el triángulo del caso 1.</p>
            <p><img src="assets//D4F63.png"></p> 
            <p>Sustituyendo los valores:</p>
            <p><img src="assets//D4F64.png"></p> 
            <p>Finalmente:</p>
            <p><img src="assets//D4F65.png"></p> 
            <p>Ejemplo 5: Resolver la siguiente integral:</p>
            <p><img src="assets//D4F66.png"></p> 
            <p>Tipo de radical: <img src="assets//D4F5.png"> Caso 3</p>
            <p>Identificamos los valores</p>
            <p><img src="assets//D4F67.png"></p> 
            <p>Los sustituimos en:</p>
            <p><img src="assets//D4F68.png" width="90%"></p> 
            <p>Sustituimos estos valores en la integral original.</p>
            <p><img src="assets//D4F69.png"></p>  
            <p>Reduciendo términos:</p>
            <p><img src="assets//D4F70.png"></p> 
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im81');">Recuerda</a></p> 
                    <div id="im81" class="cp_oculta"> <img src="assets//D4F71.png" width="90%"></div>
            <p><img src="assets//D4F72.png"></p>
            <p align="center"><a id="hover" href="javascript:MostrarOcultar('im82');">Recuerda</a></p> 
                    <div id="im82" class="cp_oculta"> <img src="assets//D4F73.png"></div>
            <p><img src="assets//D4F74.png"></p>  
            <p>Resolvemos esta integral, ocupamos la fórmula:</p>
            <p><img src="assets//D4F75.png"></p>  
            <p>La integral está completa, resolvemos</p>
            <p><img src="assets///D4F76.png"></p>  
            <p>Con este resultado aplicamos el triángulo del caso 3</p>
            <p><img src="assets//D4F77.png"></p>   
            <p>Finalmente queda:</p>
            <p><img src="assets//D4F78.png"></p>  
            <p>Ejemplo 6: Resolver la siguiente integral:</p>
            <p><img src="assets//D4F79.png"></p> 
            <p>Tipo de radical: <img src="assets//D4F3.png"> Caso 2</p>
            <p>Identificamos los valores</p>
            <p><img src="assets//D4F80.png"></p> 
            <p>Los sustituimos en:</p>
            <p><img src="assets//D4F81.png" width="90%"></p> 
            <p>Sustituimos estos valores en la integral original.</p>
            <p><img src="assets//D4F82.png"></p> 
            <p>Realizando operaciones</p>
            <p><img src="assets//D4F83.png"></p> 
            <p>Resolvemos aplicando la fórmula:</p>
            <p><img src="assets//D4F84.png"></p> 
            <p>Sustituyendo estos valores en la fórmula:</p>
            <p><img src="assets//D4F85.png"></p> 
            <p>La integral está completa, por lo que resolvemos:</p>
            <p><img src="assets//D4F86.png"></p> 
            <p>Reduciendo términos</p>
            <p><img src="assets//D4F87.png"></p> 
            <p>Ocupando el triángulo del cuadro 2</p>
            <p>RADICAL: <img src="assets//D4F3.png"></p>
            <p><img src="assets//D4F88.png"></p> 
                <p align="right"> <a id="hover" href="actividad8.html">Ejercicio 3 U2</a> </p>
            <br>
            <app-modal nameButton="Ejercicio 2 U1" [content]="htmlOneAsString"></app-modal>
            </div>
        </div>
    </div>
</div>
