<div class="container-fluid bg-primary py-1 mb-1 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Integral Definida</h1>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">La diferencial de una función</h6>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                <p>
                    Toda función se puede derivar, hay que recordar que una derivada se puede representar como:
                </p>
                <br>
                 <!--<div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid" src="assets/img/cat-1.jpg" alt="">
                        <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                            <h5 class="m-0">Web Design</h5>
                            <small class="text-primary">49 Courses</small>
                        </div> 
                   
                </div>-->

                <p> Al derivar, y despejar el termino  dx , obtenemos la diferencial de la función, como se muestra a continuación. </p>
                <p> <b> 1. </b>	Diferenciar la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D2.JPG" /> 
                    </div>
                <p>   Despejamos el término dx, para obtener la diferencial.   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D3.JPG" /> 
                    </div>
                <p> <b> 2. </b>	Diferenciar la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D4.JPG" /> 
                    </div>
                <p> Ocupamos la fórmula: &nbsp;&nbsp;&nbsp;&nbsp; <img  src="assets/images/D5.JPG" /> </p>
                <p>   Aplicando la formula se tiene   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D6.JPG" />
                    </div>
                <p> Despejamos el término dx, para obtener la diferencial. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D7.JPG" />
                    </div>
                <p> <b> 3. </b>	Diferenciar la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D8.JPG" />
                    </div>
                <p> Ocupamos la fórmula: &nbsp;&nbsp;&nbsp;&nbsp; <img  src="assets/images/D9.JPG" /> </p>
                <p>   Aplicando la formula se tiene:   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D10.JPG" /> 
                    </div>
                <p> Despejamos el término dx, para obtener la diferencial. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D11.JPG" />
                    </div>
                <p> <b> 4. </b>	Diferenciar la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D12.JPG" /> 
                    </div>
                <p> Ocupamos la fórmula: &nbsp;&nbsp;&nbsp;&nbsp; <img  src="assets/images/D13.JPG" /> </p>
                <p>   Aplicando la formula se tiene:   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D14.JPG" />
                    </div>
                <p>   Despejamos el término dx, para obtener la diferencial:   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D15.JPG" />
                    </div>
                <p> <b> 5. </b>	Diferenciar la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D16.JPG" />
                    </div>
                <p> Ocupamos la fórmula: &nbsp;&nbsp;&nbsp;&nbsp; <img  src="assets/images/D17.JPG" /> </p>
                <p>   Aplicando la formula se tiene:   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D18.JPG" />
                    </div>
                <p>   Despejamos el término dx, para obtener la diferencial.   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D19.JPG" />
                    </div>
                <p> <b> 6. </b>	Diferenciar la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D20.JPG" />
                    </div>
                <p> Ocupamos la fórmula: &nbsp;&nbsp;&nbsp;&nbsp; <img  src="assets/images/D21.JPG" /> </p>
                <p>   Aplicando la formula se tiene:   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D22.JPG" />
                    </div>
                <p>   Despejamos el término dx, para obtener la diferencial.   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D23.JPG" />
                    </div>
                <p> <b> 7. </b>	Diferenciar la siguiente función. </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D24.JPG" />
                    </div>
                <p> Ocupamos la fórmula: &nbsp;&nbsp;&nbsp; <img  src="assets/images/D25.JPG" /> </p>
                <p>   Aplicando la formula se tiene:   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    <img class="img-fluid"  src="assets/images/D26.JPG" />
                </div>
                <p>   Despejamos el término dx, para obtener la diferencial.   </p>
                <div class="col-lg-12 col-md-12 wow zoomIn text-center" data-wow-delay="0.1s">
                    
                        <img class="img-fluid"  src="assets/images/D27.JPG" />
                    </div>
                
                <app-modal nameButton="Ejercicio 1 U1" [content]="htmlOneAsString"></app-modal>

                
            </div>
        </div>
    </div>
</div>
