
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="section-title bg-white text-start text-primary pe-3">Glosario</h1>
                <h3 class="mb-4"></h3>
                <p class="texto-justificado"><i><b>Derivada:</b></i>
                En una función, límite hacia el cual tiende la razón entre el incremento
                de la función y el correspondiente a la variable cuando el incremento
                tiende a cero.</p>
                <p class="texto-justificado"><i><b>Diferencial:</b></i>
                la diferencial representa un cambio en la linealización de una función.</p>
                <p class="texto-justificado"><i><b>Cálculo integral:</b></i>
                Es una rama de las matemáticas que se encarga del estudio de las
                integrales y las anti-derivadas se emplea más para calcular áreas y
                volúmenes.</p>
                <p class="texto-justificado"><i><b>Integral:</b></i>
                Proceso que permite restituir una función que ha sido previamente
                derivada. Es decir, la operación opuesta de la derivada así como la suma
                es a la resta.</p>
                <p class="texto-justificado"><i><b>Integral indefinida:</b></i>
                Es el conjunto de las infinitas primitivas que puede tener una función.
                La derivada de la función en el punto marcado equivale a la pendiente
                de la recta tangente.</p>
                <p class="texto-justificado"><i><b>Función primitiva:</b></i>
                Es aquella que después de haber sido derivada pasando su diferencial y
                por el proceso de integración no vuelve exactamente su función original.</p>
                <p class="texto-justificado"><i><b>Anti-derivada:</b></i>
                Es una función F cuya derivada es f, es decir f 1 = f.<br>
                Una condición suficiente para que una función f admita primitivas sobre
                un intervalo es que sea continua en dicho intervalo.</p>
                <p class="texto-justificado"><i><b>Cálculo infinitesimal:</b></i>
                Tiene amplias aplicaciones en la ciencia y la ingeniería y se usa para
                resolver problemas para los cuales el álgebra por sí sola es insuficiente. 
                Principales, cálculo diferencial y cálculo integral, que están relacionados
                por el teorema fundamental del cálculo.</p>
                <p class="texto-justificado"><i><b>Parábola:</b></i>
                Se define como el lugar geométrico de los puntos de un plano que
                equidistan de una recta (eje o directriz) y un punto fijo llamado foco.</p>
                <p class="texto-justificado"><i><b>Elipse:</b></i>
                Se define como el lugar geométrico de un punto que se mueve de tal
                manera que la suma de sus distancias a dos puntos fijos llamados focos
                es siempre constante.</p>
                <p class="texto-justificado"><i><b>Punto:</b></i>
                Concepto geométrico no definido que carece de dimensiones: longitud,
                anchura y espesor; su idea puede sugerirse mediante la huella que deja
                un lápiz bien afilado en el papel.</p>
                <p class="texto-justificado"><i><b>Línea:</b></i>
                Concepto geométrico no definido que posee una sola dimensión: longitud,
                pero carece de anchura y espesor. Las líneas pueden ser rectas, curvas o
                combinar características de ambas.</p>
                <p class="texto-justificado"><i><b>Circunferencia:</b></i>
                Es una curva cerrada en la que todos los puntos que la forman están en
                un mismo plano y son equidistantes de un punto fijo llamado centro.</p>
                <p class="texto-justificado"><i><b>Ángulo:</b></i>
                Figura geométrica formada por dos rayos con un punto común. Los rayos
                se llaman lados y el punto común se denomina vértice.</p>
                <p class="texto-justificado"><i><b>Límite:</b></i>
                El límite describe la tendencia de una sucesión o una función, a medida
                que los parámetros de esa función se acercan a determinado valor.</p>
                <p class="texto-justificado"><i><b>Logaritmo:</b></i>
                El logaritmo de un número en una base determinada, es el exponente al
                cual hay que elevar la base para obtener dicho número.</p>
            </div>
        </div>
    </div>
</div>